<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Envío de Comprobantes Electrónicos
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <div class="text-caption mb-5">
        Opción para enviar comprobantes electrónicos vía email a los clientes cuyos comprobantes se encuentren autorizados.
      </div>
      <ValidationObserver v-slot="{ passes }">
      <v-row>
        <v-col cols="12" md="2">
          <v-menu
            v-model="menuPeriodo"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="periodo"
                label="Periodo"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="periodo"
              type="month"
              no-title
              scrollable
              @input="menuPeriodo = false"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="2">
          <ValidationProvider rules="required" v-slot="{ errors }" name="Ciclo">
            <v-select
              v-model="idCiclo"
              :items="listaCiclos"
              :error-messages="errors[0]"
              item-text="descripcion"
              item-value="idCiclo"
              label="Ciclo"
            ></v-select>
          </ValidationProvider>
        </v-col>

        <v-col v-if="flagEnviarComprobantes" cols="12" md="3">
          <div class="d-flex align-end justify-center" style="min-height: 40px;">
            <span class="text-subtitle-2 font-italic">
              Comprobantes a procesar:  {{ numComprobantesAutorizados }}
            </span>
          </div>
        </v-col>

        <v-col cols="12" md="2">
          <v-btn
            color="indigo"
            class="ma-3"
            @click="passes(enviarComprobantesXLote)"
            :dark="numComprobantesAutorizados > 0"
            :disabled="numComprobantesAutorizados <= 0"
          >
            Enviar Comprobantes
            <v-icon right>mdi-email-send-outline</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      </ValidationObserver>
    </v-container>

    <v-dialog
      v-model="dialogEnvioComprobantes"
      hide-overlay
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          <div class="subtitle-2 pt-1">Enviando comprobantes, por favor espere</div>
          <v-progress-linear
            :value="porcentajeEnvioComprobantes"
            color="white"
            height="25"
            light
          >
            <strong>{{ porcentajeEnvioComprobantes }} %</strong>
          </v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
export default {
  name: 'EnvioComprobantesElectronicos',
  middleware: 'routes',
  data: () => ({
    periodo: new Date().toISOString().substring(0, 7),
    menuPeriodo: false,
    listaCiclos: [],
    idCiclo: null,
    listaComprobantesAutorizados: [],
    numComprobantesAutorizados: 0,
    dialogEnvioComprobantes: false,
    porcentajeEnvioComprobantes: 0
  }),
  mounted() {
    this.obtenerCiclos()
  },
  computed: {
    flagEnviarComprobantes: function () {
      if (!_.isEmpty(this.periodo) && !_.isEmpty(this.idCiclo)) {
        // Comprobar cuantos comprobantes autorizados estan disponibles para procesar
        this.buscarComprobantesAutorizados()
        return true
      }
      return false
    }
  },
  methods: {
    obtenerCiclos() {
      this.listaCiclos = [], this.idCiclo = null

      return this.$axios
        .$post('general/ciclos/listar', {
          opcion: 'LISTAR',
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaCiclos = _.get(resp, 'data', [])
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar datos: ${error}`
          })
        })
    },

    async buscarComprobantesAutorizados() {
      this.listaComprobantesAutorizados = [], this.numComprobantesAutorizados = 0

      await this.$axios.$post('comercial/documento-electronico/listar', {
        opcion: 'LISTAR_DOCUMENTOS_ENVIO_MAIL',
        periodo: this.periodo,
        idCiclo: this.idCiclo
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        this.listaComprobantesAutorizados = _.get(resp, 'data', [])
        this.numComprobantesAutorizados = _.size(this.listaComprobantesAutorizados)
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al consultar datos: ${error}`
        })
      })
    },

    async enviarComprobantesXLote () {
      this.dialogEnvioComprobantes = true, this.porcentajeEnvioComprobantes = 0

      const listaComprobantesChunked = _.chunk(this.listaComprobantesAutorizados, 25)

      let cantIteraciones = 1, totalRegistrosProcesados = 0, totalRegistrosNoProcesados = 0
      let detalleRegistrosNoProcesados = ''
      for (const dataComprobantes of listaComprobantesChunked) {
        const resp = await this.$axios.$post('comercial/documento-electronico/enviarEmailRideXLote', dataComprobantes)
        
        if (resp.existeError) {
          this.dialogEnvioComprobantes = false
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al enviar comprobantes electrónicos'
          })
          return
        }

        totalRegistrosProcesados += _.toNumber(resp.data.totalRegistrosProcesados)
        totalRegistrosNoProcesados += _.toNumber(resp.data.totalRegistrosNoProcesados)
        detalleRegistrosNoProcesados += resp.data.detalleRegistrosNoProcesados

        this.porcentajeEnvioComprobantes = _.ceil((cantIteraciones / _.size(listaComprobantesChunked))*100)
        cantIteraciones++
      }
      
      this.dialogEnvioComprobantes = false

      this.$swal({
        icon: 'success',
        width: '40rem',
        title: 'Comprobantes electrónicos enviados',
        html: `Total Comprobantes enviados: <b>${totalRegistrosProcesados}</b> <br/> 
                Total Comprobantes no enviados: <b>${totalRegistrosNoProcesados}</b> <br/>
                Clientes no enviados: <b>${detalleRegistrosNoProcesados}</b>`
      })
      this.buscarComprobantesAutorizados()
    },

    async enviarComprobantes() {
      const resp = await this.$axios.$post('comercial/documento-electronico/enviarEmailRide', {
        periodo: this.periodo,
        idCiclo: this.idCiclo
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al realizar el envío de comprobantes: ${error}`
        })
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al enviar comprobantes electrónicos',
        })
        return
      }

      const data = _.get(resp, 'data', [])
      this.$swal({
        icon: 'success',
        title: 'Comprobantes electrónicos enviados',
        html: `Total Comprobantes encontrados: <b>${data.totalRegistros}</b> <br/> 
                Total Comprobantes enviados: <b>${data.totalRegistrosProcesados}</b> <br/> 
                Total Comprobantes no enviados: <b>${data.totalRegistrosNoProcesados}</b>`
      })
    }
  }
}
</script>
