<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Generación de archivos de recaudación externa
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <div class="text-caption mb-5">
        Opción para generar archivos de recaudación externa para las entidades financieras.
      </div>
      <ValidationObserver v-slot="{ passes }">
      <v-row>
        <v-col cols="12" md="2">
          <v-menu
            v-model="menuPeriodo"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="periodo"
                label="Periodo"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="periodo"
              type="month"
              no-title
              scrollable
              @input="menuPeriodo = false"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="2">
          <ValidationProvider rules="required" v-slot="{ errors }" name="Ciclo">
            <v-select
              v-model="idCiclo"
              :items="listaCiclos"
              :error-messages="errors[0]"
              item-text="descripcion"
              item-value="idCiclo"
              label="Ciclo"
            ></v-select>
          </ValidationProvider>
        </v-col>

        <v-col cols="12" md="3">
          <ValidationProvider rules="required" v-slot="{ errors }" name="Entidad Financiera">
            <v-select
              v-model="tipoRecaudacionExterna"
              :items="listaTipoRecaudacionExterna"
              :error-messages="errors[0]"
              item-text="descripcion"
              item-value="valor"
              label="Entidad Financiera"
            ></v-select>
          </ValidationProvider>
        </v-col>

        <v-col cols="12" md="2">
          <v-btn
            color="indigo"
            class="ma-3"
            @click="passes(generarArchivoRecaudacion)"
            dark
          >
            Generar archivo
          </v-btn>
        </v-col>
      </v-row>
      </ValidationObserver>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    name: 'GeneracionArchivoRecaudacionPage',
    middleware: 'routes',
    data: () => ({
      periodo: new Date().toISOString().substring(0, 7),
      menuPeriodo: false,
      listaCiclos: [],
      idCiclo: null,
      listaTipoRecaudacionExterna: [],
      tipoRecaudacionExterna: null,
    }),

    mounted() {
      this.index()
    },

    methods: {
      index() {
        this.tipoRecaudacionExterna = null, this.listaTipoRecaudacionExterna = []
        this.idCiclo = null, this.listaCiclos = []

        return this.$axios.$get('comercial/recaudacion-externa/index')
          .then((resp) => {
            if (resp.existeError) {
              this.$swal({
                icon: 'error',
                title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
              })
              return
            }
            
            if ( !_.isNil(resp.data) ) {
              this.listaTipoRecaudacionExterna = _.get(resp.data, 'listaTipoRecaudacionExterna', [])
              this.listaCiclos = _.get(resp.data, 'listaCiclos', [])
            }
          })
          .catch((error) => {
            this.$swal({
              icon: 'error',
              title: `Error interno de consulta: ${error}`
            })
          })
      },

      async generarArchivoRecaudacion () {
        return this.$axios.$post('comercial/recaudacion-externa/exportar', {
            opcion: this.tipoRecaudacionExterna,
            periodo: this.periodo,
            idCiclo: this.idCiclo
          }, {
            responseType: 'blob' 
          })
          .then((resp) => {
            if (resp.existeError) {
              this.$swal({
                icon: 'error',
                title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
              })
              return
            }

            const currentDate = new Date()
            const [year, month, day] = [
              currentDate.getFullYear(), 
              ("0" + (currentDate.getMonth() + 1)).slice(-2), 
              ("0" + currentDate.getDate()).slice(-2)
            ];
            const fechaActual = [year,month,day].join('')
            
            let fileName = ''
            switch (this.tipoRecaudacionExterna) {
              case 'RECAUDACION_WESTERN_UNION':
                fileName = `138${fechaActual}.csv`
                break;

              case 'RECAUDACION_BANCO_PICHINCHA':
                const objCiclo = _.find(this.listaCiclos, ['idCiclo', this.idCiclo])

                fileName = `BANCO_PICHINCHA${fechaActual}(${objCiclo.descripcion}).txt`
                break;

              case 'RECAUDACION_BANCO_GUAYAQUIL':
                fileName = `REM_${fechaActual}_CSA.txt`
                break;

              case 'RECAUDACION_BANRED':
                fileName = `ARCHIVO_ENTRADA_2330_${fechaActual}.csv`
                break;
            }

            const link = document.createElement('a')
            link.download = fileName
            link.href = URL.createObjectURL(resp)
            link.click()

            link.onload = () => {
              URL.revokeObjectURL(link.href)
            }
          })
          .catch((error) => {
            this.$swal({
              icon: 'error',
              title: `Error interno de consulta: ${error}`
            })
          })
      }
    }
  }
  </script>
  