<template>
    <v-form>
      <v-toolbar flat>
        <v-toolbar-title
          class="font-weight-medium"
        >
          Ingreso de Recaudación Externa
        </v-toolbar-title>
      </v-toolbar>
  
      <v-form ref="form" lazy-validation>
        <v-card class="mx-auto" outlined>
          <v-card-text>
            <ValidationObserver v-slot="{ passes }">
              <v-row>
                <v-col cols="12" md="3">
                  <ValidationProvider rules="required" v-slot="{ errors }" name="Entidad Financiera">
                    <v-select
                      v-model="tipoRecaudacionExterna"
                      :items="listaTipoRecaudacionExterna"
                      :error-messages="errors[0]"
                      item-text="descripcion"
                      item-value="valor"
                      label="Entidad Financiera"
                    ></v-select>
                  </ValidationProvider>
                </v-col>

                <v-col cols="12" md="4">
                  <v-file-input
                    v-model="archivoRecaudacionExterna"
                    :rules="[v => !v || v.size < 3000000 || 'Archivo debe pesar menos de 3 MB!']"
                    accept=".xls, .xlsx, .csv"
                    placeholder="Seleccionar archivo"
                    label="Archivo de recaudación externa"
                    prepend-icon="mdi-paperclip"
                  ></v-file-input>
                </v-col>
    
                <v-col cols="12" md="2">
                  <v-btn
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
                    class="ma-3 white--text"
                    @click="passes(importarArchivoRecaudacionExterna)"
                  >
                    Subir
                    <v-icon right dark>mdi-cloud-upload</v-icon>
                  </v-btn>
                </v-col>
              </v-row>
            </ValidationObserver>
          </v-card-text>
        </v-card>
      </v-form>
    </v-form>
  </template>
  <script>
  export default {
    name: "IngresoRecaudacionExternaPage",
    middleware: 'routes',
    data: () => ({
      archivoRecaudacionExterna: null,
      loading: false,
      search: '',
      listaTipoRecaudacionExterna: [],
      tipoRecaudacionExterna: null,
    }),
    mounted() {
      this.obtenerTipoRecaudacionExterna()
    },
    methods: {
      obtenerTipoRecaudacionExterna() {
        this.listaTipoRecaudacionExterna = {}
  
        return this.$axios
          .$post("comercial/recaudacion-externa/listar", {
            opcion: "CMB_TIPO_RECAUDACION_EXTERNA_IN"
          })
          .then((resp) => {
            if (resp.existeError) {
              this.$swal({
                icon: 'error',
                title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
              })
              return
            }

            this.listaTipoRecaudacionExterna = _.get(resp, 'data', [])
          })
          .catch((error) => {
            this.$swal({
              icon: 'error',
              title: `Error al consultar datos: ${error}`
            })
          })
      },
  
      importarArchivoRecaudacionExterna () {
        if ( _.isNil(this.archivoRecaudacionExterna) ) {
          return
        }
  
        const formData = new FormData()
        formData.append('opcion', this.tipoRecaudacionExterna)
        formData.append('archivoRecaudaciones', this.archivoRecaudacionExterna)
        
        this.loading = true
        return this.$axios.$post("comercial/recaudacion-externa/importar", formData)
          .then((resp) => {
            this.loading = false
            if (resp.existeError) {
              this.$swal({
                icon: "error",
                title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
              })
              return
            }
  
            this.$swal({
              icon: "success",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
            })
            this.archivoRecaudacionExterna = null
          })
          .catch((error) => {
            this.loading = false
            
            this.$swal({
              icon: 'error',
              title: `Error al guardar cambios: ${error}`
            })
          })
      }
    },
  }
  </script>