<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Lecturas de Consumo
      </v-toolbar-title>
    </v-toolbar>
      <v-row>
        <v-col cols="12" md="2">
          <v-menu
            v-model="menuPeriodo"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="periodo"
                label="Periodo"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="periodo"
              type="month"
              no-title
              scrollable
              @input="menuPeriodo = false"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="2">
          <v-select
            v-model="idCiclo"
            :items="listaCiclos"
            item-text="descripcion"
            item-value="idCiclo"
            label="Ciclo"
            @change="obtenerSectores"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="2">
          <v-select
            v-model="idSector"
            :items="listaSectores"
            item-text="descripcion"
            item-value="idSector"
            label="Sector"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="3">
          <v-select
            v-model="idCausaNoLectura"
            :items="listaCausaNoLectura"
            item-text="descripcion"
            item-value="idCausaNoLectura"
            label="Causa No Lectura"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="3">
          <v-btn 
            class="ma-2" 
            color="indigo"
            @click="buscarLecturas" 
            dark
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn>
          <v-btn
            color="primary"
            @click="exportExcel"
          >
            Descargar
            <v-icon right dark>mdi-download</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12 pt-0">
          <v-card-title class="pt-0">
              <v-spacer></v-spacer>
              <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Buscar"
                  single-line
                  hide-details
                  clearable
              ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="listaLecturas.headers"
            :items="listaLecturas.items"
            :footer-props="{ 'show-first-last-page': true }"
            :search="search"
            class="elevation-1"
            dense
          ></v-data-table>
        </v-col>
      </v-row>
  </v-form>
</template>

<script>
export default {
  name: "LecturasConsumo",
  middleware: 'routes',
  data: () => ({
    periodo: new Date().toISOString().substring(0, 7),
    menuPeriodo: false,
    listaCiclos: [],
    idCiclo: null,
    listaSectores: [],
    idSector: null,
    listaCausaNoLectura: [],
    idCausaNoLectura: null,
    listaLecturas: {},
    search: ''
  }),
  methods: {
    obtenerCiclos() {
      this.listaCiclos = []

      return this.$axios
        .$post("general/ciclos/listar", {
          opcion: "LISTAR",
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaCiclos = _.get(resp, "data", [])
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al consultar registros",
          })
        })
    },
    obtenerSectores() {
      this.listaSectores = [], this.idSector = null

      return this.$axios
        .$post("general/sector/listar", {
          opcion: "LISTAR",
          idCiclo: this.idCiclo
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaSectores = _.get(resp, "data", [])
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al consultar registros",
          })
        })
    },
    obtenerCausasNoLectura() {
      this.listaCausaNoLectura = []

      return this.$axios
        .$post("general/causa-no-lectura/listar", {
          opcion: "LISTAR",
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaCausaNoLectura = _.get(resp, "data", [])
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al consultar registros",
          })
        })
    },
    buscarLecturas() {
      this.listaLecturas = {}

      return this.$axios
        .$post("comercial/lecturas-consumo/listar", {
          opcion: "RPT_LECTURAS",
          periodo: this.periodo,
          idCiclo: this.idCiclo,
          idSector: this.idSector,
          idCausaNoLectura: this.idCausaNoLectura
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, "data", [])
          this.listaLecturas = {
            headers: this.$utils.generarCabeceraDtt(data),
            items: data
          }
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al buscar registros",
          })
        })
    },
    exportExcel() {
      return this.$axios.$post("comercial/lecturas-consumo/exportar", {
          opcion: 'RPT_LECTURAS',
          periodo: this.periodo,
          idCiclo: this.idCiclo,
          idSector: this.idSector,
          idCausaNoLectura: this.idCausaNoLectura
        }, {
            responseType: 'blob' 
        })
        .then((resp) => {
            if (resp.existeError) {
                this.$swal({
                    icon: "error",
                    title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
                })
                return
            }

            const link = document.createElement('a')
            const objCiclo = _.find(this.listaCiclos, ["idCiclo", this.idCiclo])
            const ciclo = _.isUndefined(objCiclo) ? '' : objCiclo.descripcion
            link.download = `LECTURAS ${this.periodo} - ${ciclo}.xlsx`
            link.href = URL.createObjectURL(resp)
            link.click()

            link.onload = () => {
                URL.revokeObjectURL(link.href)
            }
        })
        .catch((error) => {
            console.log(error)
            this.$swal({
                icon: "error",
                title: "Error al consultar datos",
            })
        })
    },
  },
  mounted() {
    this.obtenerCiclos()
    this.obtenerCausasNoLectura()
  },
}
</script>
