<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Listado de Cuentas
      </v-toolbar-title>
    </v-toolbar>
    <ValidationObserver v-slot="{ passes }">
      <v-row>
        <v-col cols="12" md="3">
          <ValidationProvider rules="required" v-slot="{ errors }" name="Tipo de Reporte">
            <v-select
              v-model="tipoReporte"
              :items="listaTipoReporte"
              :error-messages="errors[0]"
              item-text="descripcion"
              item-value="valor"
              label="Tipo de Reporte"
            ></v-select>
          </ValidationProvider>
        </v-col>

        <v-col cols="12" md="2">
          <v-select
            v-model="idCiclo"
            :items="listaCiclos"
            item-text="descripcion"
            item-value="idCiclo"
            label="Ciclo"
            @change="obtenerSectores"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="2">
          <v-select
            v-model="idSector"
            :items="listaSectores"
            item-text="descripcion"
            item-value="idSector"
            label="Sector"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="3">
          <v-btn
            class="ma-2"
            color="primary"
            @click="passes(exportExcel)"
          >
            Descargar
            <v-icon right dark>mdi-download</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </ValidationObserver>
  </v-form>
</template>

<script>
export default {
  name: 'RptListadoCuentas',
  middleware: 'routes',
  data: () => ({
    tipoReporte: null,
    listaTipoReporte: [],
    idCiclo: null,
    listaCiclos: [],
    idSector: null,
    listaSectores: []
  }),

  mounted() {
    this.index()
  },

  methods: {
    index() {
      this.idCiclo = null, this.tipoReporte = null
      this.listaTipoReporte = [], this.listaCiclos = []

      return this.$axios.$get('comercial/reportes/cuentas-cliente/index')
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          
          if ( !_.isNil(resp.data) ) {
            this.tipoReporte = resp.data.tipoReporteDefault
            this.listaTipoReporte = resp.data.listaTipoReporte
            this.listaCiclos = resp.data.listaCiclos
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },

    obtenerSectores() {
      this.listaSectores = [], this.idSector = null

      return this.$axios.$post('general/sector/listar', {
          opcion: 'LISTAR',
          idCiclo: this.idCiclo
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          this.listaSectores = _.get(resp, 'data', [])
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },

    exportExcel() {
      return this.$axios.$post('comercial/reportes/cuentas-cliente/exportar', {
          opcion: this.tipoReporte,
          idCiclo: this.idCiclo,
          idSector: this.idSector
        }, {
          responseType: 'blob' 
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
            })
            return
          }

          const currentDate = new Date()
          const fechaActual = (currentDate.toISOString().split('T')[0]).replaceAll('-', '')
          const horaActual = (currentDate.toTimeString().split(' ')[0]).replaceAll(':', '')

          const link = document.createElement('a')
          link.download = `LISTADO_CUENTAS - ${fechaActual}${horaActual}.xlsx`
          link.href = URL.createObjectURL(resp)
          link.click()

          link.onload = () => {
            URL.revokeObjectURL(link.href)
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },
  }
}
</script>
