<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Medidores Instalados
      </v-toolbar-title>
    </v-toolbar>
      <v-row>
        <v-col cols="12" md="3">
          <v-menu
            v-model="menuFechaInstalacion"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="fechaInstalacion"
                label="Año-Mes de Instalación"
                prepend-icon="mdi-calendar"
                v-bind="attrs"
                v-on="on"
                readonly
                clearable
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="fechaInstalacion"
              type="month"
              no-title
              scrollable
              @input="menuFechaInstalacion = false"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="3">
          <v-btn 
            class="ma-2" 
            color="indigo"
            @click="buscarMedidores" 
            dark
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn>
          <v-btn
            color="primary"
            @click="exportExcel"
          >
            Descargar
            <v-icon right dark>mdi-download</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12 pt-0">
          <v-card-title class="pt-0">
              <v-spacer></v-spacer>
              <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Buscar"
                  single-line
                  hide-details
                  clearable
              ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="listaMedidores.headers"
            :items="listaMedidores.items"
            :footer-props="{ 'show-first-last-page': true }"
            :search="search"
            class="elevation-1"
            dense
          ></v-data-table>
        </v-col>
      </v-row>
  </v-form>
</template>

<script>
export default {
  name: "MedidoresInstalados",
  middleware: 'routes',
  data: () => ({
    fechaInstalacion: new Date().toISOString().substring(0, 7),
    menuFechaInstalacion: false,
    listaMedidores: {},
    search: ''
  }),
  methods: {
    buscarMedidores() {
      this.listaMedidores = {}

      return this.$axios
        .$post("comercial/micromedidor/listar", {
          opcion: "RPT_MEDIDORES_INSTALADOS",
          fechaInstalacion: !_.isNil(this.fechaInstalacion) ? `${this.fechaInstalacion}-01` : null,
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, "data", [])
          this.listaMedidores = {
            headers: this.$utils.generarCabeceraDtt(data),
            items: data
          }
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al buscar registros",
          })
        })
    },
    exportExcel() {
      return this.$axios.$post("comercial/micromedidor/exportar", {
          opcion: 'RPT_MEDIDORES_INSTALADOS',
          fechaInstalacion: !_.isNil(this.fechaInstalacion) ? `${this.fechaInstalacion}-01` : null,
        }, {
            responseType: 'blob' 
        })
        .then((resp) => {
            if (resp.existeError) {
                this.$swal({
                    icon: "error",
                    title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
                })
                return
            }

            const link = document.createElement('a')
            link.download = `MEDIDORES INSTALADOS ${this.fechaInstalacion}.xlsx`
            link.href = URL.createObjectURL(resp)
            link.click()

            link.onload = () => {
                URL.revokeObjectURL(link.href)
            }
        })
        .catch((error) => {
            console.log(error)
            this.$swal({
                icon: "error",
                title: "Error al consultar datos",
            })
        })
    },
  },
  mounted() {
  },
}
</script>
