<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Notificación de Pagos
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <ValidationObserver v-slot="{ passes }">
        <v-row>
          <v-col cols="12" md="3">
            <v-menu
              v-model="menuPeriodoFacturacion"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="periodoFacturacion"
                  label="Periodo de Facturación"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="periodoFacturacion"
                type="month"
                no-title
                scrollable
                @input="menuPeriodoFacturacion = false"
              ></v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="12" md="3">
            <v-menu
              v-model="menuPeriodoNotificacion"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="periodoNotificacion"
                  label="Periodo de Notificación"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="periodoNotificacion"
                type="month"
                no-title
                scrollable
                @input="menuPeriodoNotificacion = false"
              ></v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="12" md="2">
            <ValidationProvider rules="required" v-slot="{ errors }" name="ciclo">
              <v-select
                v-model="idCiclo"
                :items="listaCiclos"
                :error-messages="errors[0]"
                item-text="descripcion"
                item-value="idCiclo"
                label="Ciclo"
              ></v-select>
            </ValidationProvider>
          </v-col>

          <v-col cols="12" md="4">
            <v-btn 
              class="ma-2" 
              color="indigo"
              @click="passes(buscarNotificaciones)" 
              dark
            >
              <v-icon dark>mdi-magnify</v-icon>
            </v-btn>
            <v-btn
              color="primary"
              class="ma-2 white--text"
              @click="passes(exportExcel)"
            >
              Descargar
              <v-icon right dark>mdi-download</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12 pt-0">
            <v-card-title class="pt-0">
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar"
                    single-line
                    hide-details
                    clearable
                ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="listaNotificaciones.headers"
              :items="listaNotificaciones.items"
              :footer-props="{ 'show-first-last-page': true }"
              :search="search"
              class="elevation-1"
              dense disable-sort
            ></v-data-table>
          </v-col>
        </v-row>
      </ValidationObserver>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "NotificacionPagos",
  middleware: 'routes',
  data: () => ({
    periodoFacturacion: new Date(new Date().setMonth(new Date().getMonth() - 1)).toISOString().substring(0, 7),
    menuPeriodoFacturacion: false,
    periodoNotificacion: new Date().toISOString().substring(0, 7),
    menuPeriodoNotificacion: false,
    listaCiclos: [],
    idCiclo: null,
    listaNotificaciones: {},
    search: ''
  }),
  methods: {
    obtenerCiclos() {
      this.listaCiclos = []

      return this.$axios
        .$post("general/ciclos/listar", {
          opcion: "LISTAR",
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaCiclos = _.get(resp, "data", [])
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al consultar ciclos",
          })
        })
    },
    buscarNotificaciones() {
      this.listaNotificaciones = {}

      return this.$axios
        .$post("comercial/notificacion-pagos/listar", {
          opcion: "NOTIFICACION_CICLO",
          periodoFacturacion: this.periodoFacturacion,
          periodoNotificacion: this.periodoNotificacion,
          idCiclo: this.idCiclo,
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, "data", [])
          this.listaNotificaciones = {
            headers: this.generarCabeceraNotificacionesDtt(data),
            items: data
          }
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al buscar notificaciones",
          })
        })
    },
    generarCabeceraNotificacionesDtt(items) {
      return _.map(_.keys(_.head(items)), function(value) {
        return { text: value, value: value }
      })
    },
    exportExcel() {
      return this.$axios.$post("comercial/notificacion-pagos/exportar", {
          opcion: 'NOTIFICACION_CICLO',
          periodoFacturacion: this.periodoFacturacion,
          periodoNotificacion: this.periodoNotificacion,
          idCiclo: this.idCiclo,
        }, {
            responseType: 'blob' 
        })
        .then((resp) => {
            if (resp.existeError) {
                this.$swal({
                    icon: "error",
                    title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
                })
                return
            }

            const link = document.createElement('a')
            const objCiclo = _.find(this.listaCiclos, ["idCiclo", this.idCiclo])
            link.download = `NOTIFICACIONES ${this.periodoNotificacion} ${objCiclo.descripcion}.xlsx`
            link.href = URL.createObjectURL(resp)
            link.click()

            link.onload = () => {
                URL.revokeObjectURL(link.href)
            }
        })
        .catch((error) => {
            console.log(error)
            this.$swal({
                icon: "error",
                title: "Error al consultar datos",
            })
        })
    },
  },
  mounted() {
    this.obtenerCiclos()
  },
}
</script>
