<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Reestructuración de Intereses
      </v-toolbar-title>
    </v-toolbar>
    <v-container pt-0>
      <v-row>
        <v-col cols="12" md="2">
          <v-select
            v-model="idCiclo"
            :items="listaCiclos"
            item-text="descripcion"
            item-value="idCiclo"
            label="Ciclo"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="10">
          <v-btn 
            class="ma-2" 
            color="indigo"
            @click="buscarReestructuraciones" 
            dark
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn>
          <v-btn
            color="primary"
            class="ma-2 white--text"
            @click="exportExcel"
          >
            Descargar
            <v-icon right dark>mdi-download</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12 pt-0">
          <v-card-title class="pt-0">
              <v-spacer></v-spacer>
              <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Buscar"
                  single-line
                  hide-details
                  clearable
              ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="listaReestructuracion.headers"
            :items="listaReestructuracion.items"
            :footer-props="{ 'show-first-last-page': true }"
            :search="search"
            class="elevation-1"
            dense disable-sort
          ></v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "ReestructuracionIntereses",
  middleware: 'routes',
  data: () => ({
    listaCiclos: [],
    idCiclo: null,
    listaReestructuracion: {},
    search: ''
  }),
  methods: {
    obtenerCiclos() {
      this.listaCiclos = []

      return this.$axios
        .$post("general/ciclos/listar", {
          opcion: "LISTAR",
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaCiclos = _.get(resp, "data", [])
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al consultar ciclos",
          })
        })
    },
    buscarReestructuraciones() {
      this.listaReestructuracion = {}

      return this.$axios
        .$post("comercial/reestructuracion-intereses/listar", {
          opcion: "RPT_CLIENTES_REESTRUCTURACION",
          idCiclo: this.idCiclo,
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, "data", [])
          this.listaReestructuracion = {
            headers: this.generarCabeceraPrescripcionesDtt(data),
            items: data
          }
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: "error",
            title: "Error interno al buscar prescripciones",
          })
        })
    },
    generarCabeceraPrescripcionesDtt(items) {
      return _.map(_.keys(_.head(items)), function(value) {
        return { text: value, value: value }
      })
    },
    exportExcel() {
      return this.$axios.$post("comercial/reestructuracion-intereses/exportar", {
          opcion: 'RPT_CLIENTES_REESTRUCTURACION',
          idCiclo: this.idCiclo,
        }, {
            responseType: 'blob' 
        })
        .then((resp) => {
            if (resp.existeError) {
                this.$swal({
                    icon: "error",
                    title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
                })
                return
            }

            const link = document.createElement('a')
            const objCiclo = _.find(this.listaCiclos, ["idCiclo", this.idCiclo])
            const ciclo = _.isUndefined(objCiclo) ? '' : objCiclo.descripcion
            link.download = `REESTRUCTURACION INTERESES ${ciclo}.xlsx`
            link.href = URL.createObjectURL(resp)
            link.click()

            link.onload = () => {
                URL.revokeObjectURL(link.href)
            }
        })
        .catch((error) => {
            console.log(error)
            this.$swal({
                icon: "error",
                title: "Error al consultar datos",
            })
        })
    },
  },
  mounted() {
    this.obtenerCiclos()
  },
}
</script>
