<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Situación Actual de Cartera
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-row>
        <v-col cols="12" md="2">
          <v-menu
            v-model="menuPeriodo"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="periodo"
                label="Periodo"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="periodo"
              type="month"
              no-title
              scrollable
              @input="menuPeriodo = false"
            ></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="2">
          <v-select
            v-model="idCiclo"
            :items="listaCiclos"
            item-text="descripcion"
            item-value="idCiclo"
            label="Ciclo"
            @change="obtenerSectores"
            clearable
          ></v-select>
        </v-col>

        <v-col cols="12" md="3">
          <v-autocomplete
            v-model="idSector"
            :items="listaSectores"
            item-text="descripcion"
            item-value="idSector"
            label="Sector"
            clearable
          ></v-autocomplete>
        </v-col>

        <v-col cols="12" md="3">
          <v-select
            v-model="tipoReporteCartera"
            :items="listaTipoReporteCartera"
            item-text="descripcion"
            item-value="valor"
            label="Tipo de Reporte"
          ></v-select>
        </v-col>

        <v-col cols="12" md="2">
          <!-- <v-btn 
            class="ma-2" 
            color="indigo"
            @click="buscarItems" 
            dark
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn> -->
          <v-btn
            class="ma-2"
            color="#1D6F42"
            @click="exportExcel"
            dark
          >
            Descargar
            <v-icon right dark>mdi-file-excel-outline</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <!-- <v-row>
        <v-col cols="12 pt-0">
          <v-card-title class="pt-0">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
              clearable
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="listaItems.headers"
            :items="listaItems.items"
            :footer-props="{ 'show-first-last-page': true }"
            :search="search"
            class="elevation-1"
            dense
          ></v-data-table>
        </v-col>
      </v-row> -->
    </v-container>
  </v-form>
</template>

<script>
import { saveAs } from 'file-saver'

export default {
  name: "SituacionActualCartera",
  middleware: 'routes',
  data: () => ({
    periodo: new Date().toISOString().substring(0, 7),
    menuPeriodo: false,
    fechaActual: new Date().toISOString().substring(0, 10),
    listaItems: {},
    search: '',
    listaCiclos: [],
    idCiclo: null,
    listaSectores: [],
    idSector: null,
    listaTipoReporteCartera: [],
    tipoReporteCartera: null
  }),
  methods: {
    index() {
      return this.$axios.$get('comercial/cartera/index')
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        if ( !_.isNil(resp.data) ) {
          this.listaTipoReporteCartera = resp.data.listaTipoReporteCartera
          this.tipoReporteCartera = resp.data.tipoReporteCarteraDefault
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta: ${error}`,
        })
      })
    },
    obtenerCiclos() {
      this.listaCiclos = [], this.idCiclo = null

      return this.$axios
        .$post('general/ciclos/listar', {
          opcion: 'LISTAR',
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaCiclos = _.get(resp, 'data', [])
        })
        .catch((error) => {
          console.log(error)
          this.$swal({
            icon: 'error',
            title: `Error al consultar datos: ${error}`
          })
        })
    },
    obtenerSectores() {
      this.listaSectores = [], this.idSector = null

      if ( _.isNil(this.idCiclo) ) {
        this.idCiclo = null
        return
      }

      return this.$axios
        .$post('general/sector/listar', {
          opcion: 'LISTAR',
          idCiclo: this.idCiclo
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          this.listaSectores = _.get(resp, 'data', [])
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar datos: ${error}`
          })
        })
    },
    buscarItems() {
      this.listaItems = {}

      return this.$axios.$post('comercial/cartera/listar', {
        opcion: this.tipoReporteCartera,
        periodo: this.periodo,
        idCiclo: this.idCiclo,
        idSector: this.idSector
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const data = _.get(resp, 'data', [])
        this.listaItems = {
          headers: this.$utils.generarCabeceraDtt(data),
          items: data
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al consultar datos: ${error}`
        })
      })
    },
    exportExcel() {
      return this.$axios.$post('comercial/cartera/exportar', {
        opcion: this.tipoReporteCartera,
        periodo: this.periodo,
        idCiclo: this.idCiclo,
        idSector: this.idSector
      }, {
        responseType: 'blob'
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        saveAs(resp, `CarteraDetallada ${this.fechaActual}.xlsx`)
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al consultar datos: ${error}`
        })
      })
    }
  },
  mounted() {
    this.index().then(() => {
      this.obtenerCiclos()
    })
  }
}
</script>
