<template>
  <v-form>
    <v-data-table
      :headers="listaPerfiles.headers"
      :items="listaPerfiles.items"
      :footer-props="{ 'show-first-last-page': true }"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>PERFILES DE USUARIO</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="editItem()"
          >
            Nuevo
          </v-btn>
          
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          color="primary"
          class="mr-2"
          @click="editItem(item)"
          small
        >
          mdi-pencil
        </v-icon>
      </template>
    </v-data-table>

    <ValidationObserver v-slot="{ passes }">
      <v-dialog
        v-model="dialog"
        max-width="800px"
        scrollable
        persistent
      >
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text style="height: 600px;">
            <v-row>
              <v-col
                cols="12"
                md="5"
              >
                <v-text-field
                  v-model="editedItem.idPerfil"
                  label="Id Perfil"
                  dense
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                cols="12"
                md="5"
              >
                <ValidationProvider rules="required|alpha_dash|max:20" v-slot="{ errors }" name="código">
                  <v-text-field
                    v-model="editedItem.codigo"
                    :error-messages="errors[0]"
                    label="Código"
                    dense
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                cols="12"
                md="7"
              >
                <ValidationProvider rules="required|max:255" v-slot="{ errors }" name="descripción">
                  <v-text-field
                    v-model="editedItem.descripcion"
                    :error-messages="errors[0]"
                    label="Descripción"
                    dense
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-divider></v-divider>

            <v-row>
              <v-col cols="12">
                <v-subheader class="pb-0">Opciones de Perfil</v-subheader>
                <v-alert
                  text
                  dense
                  type="warning"
                  elevation="1"
                >
                  Si selecciona una opción hija, debe seleccionar también la opción padre para que aparezca en el menú del usuario.
                </v-alert>
                <v-treeview
                  v-model="listaOpcionesPerfil"
                  :items="listaMenuOpciones"
                  item-key="idOpcion"
                  item-text="descripcion"
                  selection-type="independent"
                  selected-color="primary"
                  selectable
                  return-object
                ></v-treeview>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red darken-1"
              text
              @click="cerrarDialog"
            >
              Cancelar
            </v-btn>
            <v-btn
              color="primary darken-1"
              text
              @click.prevent="passes(guardar)"
            >
              Guardar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </ValidationObserver>
  </v-form>
</template>

<script>
export default {
  name: 'PerfilUsuario',
  middleware: 'routes',
  data: () => ({
    dialog: false,
    listaPerfiles: {},
    editedItem: {},
    search: '',
    listaEstados: [],
    listaMenuOpciones: [],
    listaOpcionesPerfil: []
  }),

  computed: {
    formTitle () {
      return _.isNil(this.editedItem.idPerfil) ? 'Nuevo Registro' : 'Editar Registro'
    },
  },

  created () {
    this.index().then(() => {
      this.buscarPerfiles()
    })
  },

  methods: {
    index() {
      return this.$axios.$get('seguridad/perfil-usuario/index')
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        if ( !_.isNil(resp.data) ) {
          this.listaEstados = resp.data.listaEstados
          this.listaMenuOpciones = resp.data.listaMenuOpciones
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta ${error}`
        })
      })
    },

    buscarPerfiles () {
      this.listaPerfiles = {}

      return this.$axios.$post('seguridad/perfil-usuario/listar', {
        opcion: 'LISTAR'
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const data = _.get(resp, 'data', [])
        this.listaPerfiles = {
          headers: [
            { text: 'Editar', value: 'actions', sortable: false, width: 75, align: 'center' },
            { text: 'Id Perfil', value: 'idPerfil' },
            { text: 'Cod. Perfil', value: 'codigo' },
            { text: 'Descripción', value: 'descripcion' },
            { text: 'Estado', value: 'estado' },
          ],
          items: data
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta ${error}`
        })
      })
    },

    buscarOpcionesPerfil () {
      this.listaOpcionesPerfil = []

      return this.$axios.$post('seguridad/perfil-usuario/listar', {
        opcion: 'LISTAR_OPCIONES_PERFIL_TREEVIEW',
        idPerfil: this.editedItem.idPerfil
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        this.listaOpcionesPerfil = _.get(resp, 'data', [])
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta ${error}`
        })
      })
    },

    dataItemDefault () {
      this.editedItem = {
        idPerfil: null,
        codigo: null,
        descripcion: null,
        estado: null
      },
      this.listaOpcionesPerfil = []
    },

    editItem (item) {
      this.dataItemDefault()
      
      if ( !_.isEmpty(item) ) {
        this.editedItem = Object.assign({}, item)
        this.buscarOpcionesPerfil()
      }

      this.dialog = true
    },

    cerrarDialog () {
      this.dataItemDefault()
      this.dialog = false
    },

    async guardar () {
      const resp = await this.$axios.$post('seguridad/perfil-usuario/guardar', {
        opcion: _.isNil(this.editedItem.idPerfil) ? 'I' : 'U',
        idPerfil: this.editedItem.idPerfil,
        codigo: this.editedItem.codigo,
        descripcion: this.editedItem.descripcion,
        estado: this.editedItem.estado,
        listaOpcionesPerfil: this.listaOpcionesPerfil
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
        })
        return
      }

      this.$swal({
        icon: 'success',
        title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
      })

      this.buscarPerfiles()
      this.cerrarDialog()
    }
  }
}
</script>