<template>
  <v-form>
    <v-data-table
      :headers="listaUsuarios.headers"
      :items="listaUsuarios.items"
      :footer-props="{ 'show-first-last-page': true }"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>MANTENIMIENTO DE USUARIO</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          color="primary"
          class="mr-2"
          @click="editItem(item)"
          small
        >
          mdi-pencil
        </v-icon>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="800px"
      scrollable
      persistent
    >
      <ValidationObserver v-slot="{ passes }">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-form class="px-1">
            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="identificación">
                  <v-text-field
                    v-model="editedItem.identificacion"
                    :error-messages="errors[0]"
                    label="Identificacion"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="usuario">
                  <v-text-field
                    v-model="editedItem.usuario"
                    :error-messages="errors[0]"
                    label="Usuario"
                    disabled
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="primer nombre">
                  <v-text-field
                    v-model="editedItem.primerNombre"
                    :error-messages="errors[0]"
                    label="Primer Nombre"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="segundo nombre">
                  <v-text-field
                    v-model="editedItem.segundoNombre"
                    :error-messages="errors[0]"
                    label="Segundo Nombre"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="primer apellido">
                  <v-text-field
                    v-model="editedItem.primerApellido"
                    :error-messages="errors[0]"
                    label="Primer Apellido"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="segundo apellido">
                  <v-text-field
                    v-model="editedItem.segundoApellido"
                    :error-messages="errors[0]"
                    label="Segundo Apellido"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
              
              <v-col
                class="py-1"
                cols="12"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="dirección">
                  <v-text-field
                    v-model="editedItem.direccion"
                    :error-messages="errors[0]"
                    label="Dirección"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
              >
                <v-select
                  v-model="listaPerfilesUsuario"
                  :items="listaPerfiles"
                  item-value="valor"
                  item-text="descripcion"
                  label="Perfiles de usuario"
                  multiple
                  chips
                  deletable-chips
                  return-object
                  @change="perfilesModified = true"
                ></v-select>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="estado">
                  <v-select
                    v-model="editedItem.estado"
                    :error-messages="errors[0]"
                    :items="listaEstados"
                    label="Estado"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="numero de intentos">
                  <v-text-field 
                    v-model="editedItem.numeroIntentos" 
                    label="Número de Intentos Inicio Sesión" 
                    :error-messages="errors[0]"
                    type="number"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row align="center">
              <v-col
                class="py-0"
                cols="12"
                md="4"
              >
                <v-btn
                  class="ma-2"
                  :outlined="!cambiarClave"
                  color="indigo"
                  small
                  dark
                  @click="cambiarClave = !cambiarClave"
                >
                  Cambiar Contraseña
                </v-btn>
              </v-col>
              
              <template v-if="cambiarClave">
                <v-col
                  class="py-0"
                  cols="12"
                  md="4"
                >
                  <ValidationProvider :rules="{ required: cambiarClave }" v-slot="{ errors }" vid="clave" 
                    name="contraseña">
                    <v-text-field
                      v-model="editedItem.clave"
                      :error-messages="errors[0]"
                      label="Contraseña"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
                
                <v-col
                  class="py-0"
                  cols="12"
                  md="4"
                >
                  <ValidationProvider :rules="{ required: cambiarClave, confirmed: 'clave' }" v-slot="{ errors }" 
                    name="confirmar contraseña">
                    <v-text-field
                      v-model="editedItem.claveConfirmar"
                      :error-messages="errors[0]"
                      label="Confirmar contraseña"
                    ></v-text-field>
                  </ValidationProvider>
                </v-col>
              </template>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="cerrar"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="primary darken-1"
            text
            @click.prevent="passes(guardar)"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
      </ValidationObserver>
    </v-dialog>
  </v-form>
</template>

<script>
export default {
  name: 'Usuario',
  middleware: 'routes',
  data: () => ({
    dialog: false,
    listaUsuarios: {},
    editedItem: {},
    search: '',
    listaEstados: [],
    listaPerfiles: [],
    listaPerfilesUsuario: [],
    cambiarClave: false,
    perfilesModified: false
  }),

  computed: {
    formTitle () {
      return _.isNil(this.editedItem.idUsuario) ? 'Nuevo Registro' : 'Editar Registro'
    },
  },

  created () {
    this.index().then(() => {
      this.buscarUsuarios()
    })
  },

  methods: {
    index() {
      return this.$axios.$get('seguridad/usuario/index')
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        if ( !_.isNil(resp.data) ) {
          this.listaEstados = resp.data.listaEstados
          this.listaPerfiles = resp.data.listaPerfiles
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta ${error}`
        })
      })
    },

    buscarUsuarios () {
      this.listaUsuarios = {}

      return this.$axios.$post('seguridad/usuario/listar', {
        opcion: 'LISTAR'
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const data = _.get(resp, 'data', [])
        this.listaUsuarios = {
          headers: [
            { text: 'Editar', value: 'actions', sortable: false, width: 75, align: 'center' },
            { text: 'Usuario', value: 'usuario' },
            { text: 'Nombre', value: 'nombre' },
            { text: 'Identificación', value: 'identificacion' },
            { text: 'Estado', value: 'estado' },
          ],
          items: data
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta ${error}`
        })
      })
    },

    buscarPerfilesUsuario () {
      this.listaPerfilesUsuario = []

      return this.$axios.$post('seguridad/perfil-usuario/listar', {
        opcion: 'LISTAR_PERFILES_USUARIO_CMB',
        idUsuario: this.editedItem.idUsuario
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        this.listaPerfilesUsuario = _.get(resp, 'data', [])
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta ${error}`
        })
      })
    },

    dataItemDefault () {
      this.editedItem = {
        idUsuario: null,
        usuario: '',
        primerNombre: '',
        segundoNombre: '',
        primerApellido: '',
        segundoApellido: '',
        identificacion: '',
        direccion: '',
        telefono: '',
        celular: '',
        estado: null,
      }
      this.listaPerfilesUsuario = []
      this.cambiarClave = false
      this.perfilesModified = false
    },

    editItem (item) {
      this.dataItemDefault()
      
      if ( !_.isEmpty(item) ) {
        this.editedItem = Object.assign({}, item)
        this.buscarPerfilesUsuario()
      }

      this.dialog = true
    },

    cerrar () {
      this.dataItemDefault()
      this.dialog = false
    },

    async guardar () {
      const resp = await this.$axios.$post('seguridad/usuario/guardar', {
        opcion: _.isNil(this.editedItem.idUsuario) ? 'I' : 'U',
        idUsuario: this.editedItem.idUsuario,
        identificacion: this.editedItem.identificacion,
        primerNombre: this.editedItem.primerNombre,
        segundoNombre: this.editedItem.segundoNombre,
        primerApellido: this.editedItem.primerApellido,
        segundoApellido: this.editedItem.segundoApellido,
        direccion: this.editedItem.direccion,
        flagCambiarClave: this.cambiarClave,
        usuario: this.editedItem.usuario,
        clave: this.editedItem.clave,
        estado: this.editedItem.estado,
        numeroIntentos: this.editedItem.numeroIntentos,
        flagModificarPerfiles: this.perfilesModified,
        listaPerfilesUsuario: this.listaPerfilesUsuario
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
        })
        return
      }

      this.$swal({
        icon: 'success',
        title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
      })

      this.buscarUsuarios()
      this.cerrar()
    },
  },
}
</script>