<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Reporte Compromisos de Pago
      </v-toolbar-title>
    </v-toolbar>

    <v-row>
      <v-col cols="12" md="3">
        <v-menu
          v-model="menuRangoFechas"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="dateRangeText"
              label="Rango de Fechas de Compromisos de Pago"
              prepend-icon="mdi-calendar"
              readonly
              v-bind="attrs"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="rangoFechas"
            color="primary"
            no-title
            scrollable
            range
          >
            <v-spacer></v-spacer>
            <v-btn
              text
              color="primary"
              @click="menuRangoFechas = false"
            >
              OK
            </v-btn>
          </v-date-picker>
        </v-menu>
      </v-col>

      <v-col cols="12" md="3">
        <v-select
          v-model="estadoCompromiso"
          :items="listaEstadosCompromiso"
          item-text="descripcion"
          item-value="valor"
          label="Estado de Compromiso"
          clearable
        ></v-select>
      </v-col>

      <v-col cols="12" md="3">
        <v-btn
          class="ma-2"
          color="primary"
          @click="exportExcel"
        >
          Descargar
          <v-icon right dark>mdi-download</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  name: 'RptCompromisoPago',
  middleware: 'routes',
  data: () => ({
    rangoFechas: [new Date().toISOString().substring(0, 10), new Date().toISOString().substring(0, 10)],
    menuRangoFechas: false,
    estadoCompromiso: null,
    listaEstadosCompromiso: []
  }),

  watch: {
    currentHover: function(value) {
      this.resetHover();
      if (this.rangoFechas.length == 1) {
        var fixedDate = this.rangoFechas[0];
        var valueDate = this.getFloatingDate(fixedDate, value);
        for (var i = 1; i <= this.allNodes.length; i++) {
          var iDate = this.getFloatingDate(fixedDate, i);
          if (fixedDate > valueDate && iDate >= valueDate && fixedDate >= iDate) {
            this.addClass(i-1);
          }
          if (fixedDate < valueDate && iDate <= valueDate && fixedDate <= iDate) {
            this.addClass(i-1)
          }
        }
      }
    },
    rangoFechas: function(value) {
      var self = this;
      self.allNodes = document.querySelectorAll(".v-date-picker-table .v-btn__content");
      var observer = new MutationObserver(function(mutations){
        for (var i=0; i < mutations.length; i++){
          if (i == mutations.length -1) {
            var headerText = document.querySelector(".v-date-picker-header__value button");
            if (headerText) {
              headerText = headerText.innerText;
              self.focusMonth = new Date(headerText).toLocaleDateString().split('/').reverse().join('-').substring(0,8);
            }
            self.initDateHoverEvent();
          }
        }
      });
      observer.observe(document.getElementsByClassName("v-picker__body")[0], {
        childList: true,
        subtree: true,
      });
      
      if (value.length === 1) {
        self.initDateHoverEvent();
      }
      if (value.length == 2) {
        this.resetHover();
      }
    },
  },

  computed: {
    dateRangeText () {
      const fechasOrdenadas = _.sortBy(this.rangoFechas)
      return fechasOrdenadas.join(' ~ ')
    },
  },

  mounted() {
    this.index()
  },

  methods: {
    index() {
      this.estadoCompromiso = null, this.listaEstadosCompromiso = []

      return this.$axios.$get('comercial/reportes/compromiso-pago/index')
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          
          if ( !_.isNil(resp.data) ) {
            this.listaEstadosCompromiso = resp.data.listaEstadosCompromiso
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },

    exportExcel() {
      const rangoFechasOrdered = _.sortBy(this.rangoFechas)
      const fechaDesde = rangoFechasOrdered[0]
      const fechaHasta = _.get(rangoFechasOrdered, 1, rangoFechasOrdered[0])

      return this.$axios.$post('comercial/reportes/compromiso-pago/exportar', {
          opcion: 'LISTAR_COMPROMISOS',
          estadoCompromiso: this.estadoCompromiso,
          fechaInicio: fechaDesde,
          fechaFin: fechaHasta
        }, {
          responseType: 'blob' 
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
            })
            return
          }

          const currentDate = new Date()
          const fechaActual = (currentDate.toISOString().split('T')[0]).replaceAll('-', '')
          const horaActual = (currentDate.toTimeString().split(' ')[0]).replaceAll(':', '')

          const link = document.createElement('a')
          link.download = `COMPROMISOS_DE_PAGO - ${fechaActual}${horaActual}.xlsx`
          link.href = URL.createObjectURL(resp)
          link.click()

          link.onload = () => {
            URL.revokeObjectURL(link.href)
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },

    addClass: function(i) {
      this.allNodes[i].parentNode.classList.add("highlight__date");
      this.allNodes[i].classList.add("date__color");
    },
    resetHover: function() {
      for (var i = 0; i < this.allNodes.length; i++) {
        this.allNodes[i].parentNode.classList.remove("highlight__date");
        this.allNodes[i].classList.remove("date__color");  
      }
    },
    initDateHoverEvent: function () {
      var self = this;
      self.allNodes = document.querySelectorAll(".v-date-picker-table .v-btn__content");
      self.allNodes.forEach(function(node) {
        node.addEventListener("mouseover", function() {
          self.currentHover = node.innerText;
        });
      });
    },
    getFloatingDate(fixedDate, value) {
      var valueDate = value.toString().length == 1 ? "0" + value : value;
      var joinDate = this.focusMonth ? this.focusMonth : fixedDate.substring(0, 8);
      return joinDate + valueDate;
    }
  }
}
</script>

<style lang="css">
  .highlight__date {
    background-color: #82e3e3; 
  }
  .date__color {
    color: #ffffff;
  }
</style>