<template>
  <v-form>
    <v-data-table
      :headers="listaContratosServicios.headers"
      :items="listaContratosServicios.items"
      :footer-props="{ 'show-first-last-page': true }"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>CONTRATOS Y SERVICIOS</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="editItem()"
          >
            Nuevo
          </v-btn>
          
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          color="primary"
          class="mr-2"
          @click="editItem(item)"
          small
        >
          mdi-pencil
        </v-icon>
        <!-- <v-icon
          color="red"
          @click="deleteItem(item)"
          small
        >
          mdi-delete
        </v-icon> -->
      </template>

      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="buscarContratosServicios"
        >
          Recargar
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="650px"
      scrollable
    >
      <ValidationObserver v-slot="{ passes }">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-form class="px-1">
            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="codigo">
                  <v-text-field
                    v-model="editedItem.codigo"
                    :error-messages="errors[0]"
                    label="Código"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="8"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="descripción">
                  <v-text-field
                    v-model="editedItem.descripcion"
                    :error-messages="errors[0]"
                    label="Descripción"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="tipo">
                  <v-select
                    v-model="editedItem.codTipo"
                    :error-messages="errors[0]"
                    :items="listaTipo"
                    label="Tipo"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="clase">
                  <v-select
                    v-model="editedItem.codClase"
                    :error-messages="errors[0]"
                    :items="listaClase"
                    label="Clase"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="facturable">
                  <v-select
                    v-model="editedItem.facturable"
                    :error-messages="errors[0]"
                    :items="listaSiNo"
                    label="Facturable"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider :rules="{ required: true, regex: /^[0-9]{0,6}(\.[0-9]{1,2})?$/ }" v-slot="{ errors }" name="costo">
                  <v-text-field
                    v-model="editedItem.valor"
                    :error-messages="errors[0]"
                    label="Costo"
                    @input="calcularIVA"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider :rules="{ regex: /^[0-9]{0,6}(\.[0-9]{1,2})?$/ }" v-slot="{ errors }" name="IVA">
                  <v-text-field
                    v-model="editedItem.iva"
                    :error-messages="errors[0]"
                    label="IVA"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <v-text-field
                  v-model="editedItem.total"
                  label="Total"
                  readonly
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="presupuestado">
                  <v-select
                    v-model="editedItem.presupuestado"
                    :error-messages="errors[0]"
                    :items="listaSiNo"
                    label="Presupuestado"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="Genera O.T.">
                  <v-select
                    v-model="editedItem.generaOT"
                    :error-messages="errors[0]"
                    :items="listaSiNo"
                    label="Genera O.T."
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required|numeric" v-slot="{ errors }" name="Días Patrón">
                  <v-text-field
                    v-model="editedItem.diasPatron"
                    :error-messages="errors[0]"
                    label="Días Patrón"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="distrito">
                  <v-select
                    v-model="editedItem.idDistrito"
                    :error-messages="errors[0]"
                    :items="listaDistrito"
                    label="Distrito"
                    item-text="descripcion"
                    item-value="idDistrito"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="4"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="estado">
                  <v-select
                    v-model="editedItem.estado"
                    :error-messages="errors[0]"
                    :items="listaEstados"
                    label="Estado"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="cerrar"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="primary darken-1"
            text
            @click.prevent="passes(guardar)"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
      </ValidationObserver>
    </v-dialog>
  </v-form>
</template>

<script>
export default {
  name: 'ContratosServicios',
  data: () => ({
    dialog: false,
    listaContratosServicios: {},
    editedItem: {},
    listaTipo: [],
    listaClase: [],
    search: '',
    porcentajeIVA: 0,
    listaSiNo: [],
    listaDistrito: [],
    listaEstados: []
  }),

  computed: {
    formTitle () {
      return _.isNil(this.editedItem.idContratoServicio) ? 'Nuevo Registro' : 'Editar Registro'
    },
  },

  watch: {
    editedItem: {
      handler: function(val) {
        if (val.valor || val.iva) {
          this.calcularTotal()
        }
      },
      deep:true
    },
  },

  created () {
    this.index().then(() => {
      this.buscarContratosServicios()
    })
  },

  methods: {
    index() {
      return this.$axios.$get("seguridad/parametros/contratos-servicios/index")
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: "error",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        if ( !_.isNil(resp.data) ) {
          this.listaTipo = resp.data.listaTipo
          this.listaClase = resp.data.listaClase
          this.porcentajeIVA = resp.data.porcentajeIVA
          this.listaSiNo = resp.data.listaSiNo
          this.listaDistrito = resp.data.listaDistrito
          this.listaEstados = resp.data.listaEstados
        }
      })
      .catch((error) => {
        console.log(error)
        this.$swal({
          icon: "error",
          title: "Error interno de consulta",
        })
      })
    },

    buscarContratosServicios () {
      this.listaContratosServicios = {}

      return this.$axios.$post("seguridad/parametros/contratos-servicios/listar", {
        opcion: "LISTAR"
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: "error",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const data = _.get(resp, "data", [])
        this.listaContratosServicios = {
          headers: [
            { text: 'Acciones', value: 'actions', sortable: false, width: 75, align: 'center' },
            { text: 'Código', value: 'codigo' },
            { text: 'Descripción', value: 'descripcion' },
            { text: 'Tipo', value: 'tipo' },
            { text: 'Clase', value: 'clase' },
            { text: 'Facturable', value: 'facturable' },
            { text: 'Valor', value: 'valor' },
            { text: 'IVA', value: 'iva' },
            { text: 'Total', value: 'total' },
            { text: 'Presupuestado', value: 'presupuestado' },
            { text: 'Días Patrón', value: 'diasPatron' },
            // { text: 'Genera O.T.', value: 'generaOT' },
            // { text: 'Distrito', value: 'distrito' },
            { text: 'Estado', value: 'estado' },
          ],
          items: data
        }
      })
      .catch((error) => {
        console.log(error)
        this.$swal({
          icon: "error",
          title: "Error interno de consulta",
        })
      })
    },

    dataItemDefault () {
      this.editedItem = {
        idContratoServicio: null,
        codigo: '',
        descripcion: '',
        codTipo: '',
        codClase: '',
        facturable: null,
        valor: 0,
        iva: 0,
        total: 0,
        idDistrito: null,
        presupuestado: null,
        diasPatron: '',
        generaOT: null
      }
    },

    editItem (item) {
      this.dataItemDefault()
      
      if ( !_.isEmpty(item) ) {
        this.editedItem = Object.assign({}, item)
      }

      this.dialog = true
    },

    deleteItem (item) {
      this.$swal({
        title: 'Eliminación de Registro',
        text: '¿Está seguro de eliminar el registro seleccionado?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios.$post("seguridad/parametros/contratos-servicios/guardar", {
            opcion: 'ELIMINAR',
            idContratoServicio: item.idContratoServicio,
          })
          .then((resp) => {
            if (resp.existeError) {
              this.$swal({
                icon: "error",
                title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
              })
              return
            }

            this.$swal({
              icon: "success",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
            })

            this.buscarContratosServicios()
          })
          .catch((error) => {
            console.log(error)
            this.$swal({
              icon: "error",
              title: "Error interno de sistema",
            })
          })
        }
      })
    },

    cerrar () {
      this.dataItemDefault()
      this.dialog = false
    },

    async guardar () {
      const resp = await this.$axios.$post("seguridad/parametros/contratos-servicios/guardar", {
        opcion: _.isNil(this.editedItem.idContratoServicio) ? 'I' : 'U',
        idContratoServicio: this.editedItem.idContratoServicio,
        idDistrito: this.editedItem.idDistrito,
        codigo: this.editedItem.codigo,
        descripcion: this.editedItem.descripcion,
        tipo: this.editedItem.codTipo,
        facturable: this.editedItem.facturable,
        valor: this.editedItem.valor,
        presupuesto: this.editedItem.presupuestado,
        diasPatron: this.editedItem.diasPatron,
        clase: this.editedItem.codClase,
        iva: this.editedItem.iva,
        generaOT: this.editedItem.generaOT,
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: "error",
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
        })
        return
      }

      this.$swal({
        icon: "success",
        title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
      })

      this.buscarContratosServicios()
      this.cerrar()
    },

    calcularTotal () {
      this.editedItem.total = _.round(_.sum([ Number(this.editedItem.valor), Number(this.editedItem.iva) ]), 2)
    },
    
    calcularIVA () {
      this.editedItem.iva = _.round(_.multiply(this.editedItem.valor, this.porcentajeIVA), 2)
    }
  },
}
</script>