<template>
  <v-data-table
    :headers="listaEmpresas.headers"
    :items="listaEmpresas.items"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>EMPRESA</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="700px"
          scrollable
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Nuevo
            </v-btn>
          </template>

          <ValidationObserver v-slot="{ passes }">
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container class="pt-0">
                <v-row>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <ValidationProvider rules="required" v-slot="{ errors }" name="abreviatura">
                      <v-text-field
                        v-model="editedItem.abreviatura"
                        :error-messages="errors[0]"
                        label="Abreviatura"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col
                    cols="12"
                    md="12"
                  >
                    <ValidationProvider rules="required" v-slot="{ errors }" name="nombre">
                      <v-text-field
                        v-model="editedItem.nombre"
                        :error-messages="errors[0]"
                        label="Nombre"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <ValidationProvider rules="required" v-slot="{ errors }" name="municipio">
                      <v-text-field
                        v-model="editedItem.municipio"
                        :error-messages="errors[0]"
                        label="Municipio"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <ValidationProvider rules="required" v-slot="{ errors }" name="RUC">
                      <v-text-field
                        v-model="editedItem.ruc"
                        :error-messages="errors[0]"
                        label="RUC"
                      ></v-text-field>
                    </ValidationProvider>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="red darken-1"
                text
                @click="cerrar"
              >
                Cancelar
              </v-btn>
              <v-btn
                color="primary darken-1"
                text
                @click.prevent="passes(guardar)"
              >
                Guardar
              </v-btn>
            </v-card-actions>
          </v-card>
          </ValidationObserver>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon
        color="primary"
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        color="red"
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>

    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="buscarEmpresas"
      >
        Recargar
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: 'Empresa',
  data: () => ({
    dialog: false,
    listaEmpresas: {},
    editedItem: {},
  }),

  computed: {
    formTitle () {
      return _.isEmpty(this.editedItem) ? 'Nuevo Registro' : 'Editar Registro'
    },
  },

  watch: {
    dialog (val) {
      val || this.cerrar()
    },
  },

  created () {
    this.buscarEmpresas()
  },

  methods: {
    buscarEmpresas () {
      this.listaEmpresas = {
        headers: [
          { text: 'Abreviatura', value: 'abreviatura' },
          { text: 'Nombre', value: 'nombre' },
          { text: 'Municipio', value: 'municipio' },
          { text: 'RUC', value: 'ruc' },
          { text: 'Acciones', value: 'actions', sortable: false },
        ],
        items: [
          {
            abreviatura: 'EMAPA EP',
            nombre: 'EMPRESA PUBLICA MUNICIPAL DE AGUA POTABLE Y ALCANTARILLADO DE DAULE EMAPA-EP',
            municipio: 'DAULE',
            ruc: '0968593170001',
          }
        ]
      }
    },

    dataItemDefault () {
      this.editedItem = {
        abreviatura: '',
        nombre: '',
        municipio: '',
        ruc: '',
      }
    },

    editItem (item) {
      this.dataItemDefault()
      
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.$swal({
        title: 'Eliminación de Registro',
        text: '¿Está seguro de eliminar el registro seleccionado?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
      }).then((result) => {
        if (result.isConfirmed) {
          console.log('deleted')
        }
      })
    },

    cerrar () {
      this.dataItemDefault()
      this.dialog = false
    },

    guardar () {
      console.log(this.editedItem)
      this.cerrar()
    },
  },
}
</script>