<template>
  <v-form>
    <v-data-table
      :headers="listaMotivoMultas.headers"
      :items="listaMotivoMultas.items"
      :footer-props="{ 'show-first-last-page': true }"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>MOTIVO DE MULTAS</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          <v-btn
            color="primary"
            dark
            class="mb-2"
            @click="editItem()"
          >
            Nuevo
          </v-btn>
          
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          color="primary"
          class="mr-2"
          @click="editItem(item)"
          small
        >
          mdi-pencil
        </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="buscarMotivoMultas"
        >
          Recargar
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="650px"
      scrollable
    >
      <ValidationObserver v-slot="{ passes }">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-form class="px-1">
            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="código">
                  <v-text-field
                    v-model="editedItem.codigo"
                    :error-messages="errors[0]"
                    label="Código"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="descripción">
                  <v-text-field
                    v-model="editedItem.descripcion"
                    :error-messages="errors[0]"
                    label="Descripción"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="cerrar"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="primary darken-1"
            text
            @click.prevent="passes(guardar)"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
      </ValidationObserver>
    </v-dialog>
  </v-form>
</template>

<script>
export default {
  name: 'MotivoMultas',
  data: () => ({
    dialog: false,
    listaMotivoMultas: {},
    editedItem: {},
    search: '',
  }),

  computed: {
    formTitle () {
      return _.isNil(this.editedItem.idMotivoMulta) ? 'Nuevo Registro' : 'Editar Registro'
    },
  },

  created () {
    this.buscarMotivoMultas()
  },

  methods: {
    buscarMotivoMultas () {
      this.listaMotivoMultas = {}

      return this.$axios.$post("seguridad/parametros/motivo-multas/listar", {
        opcion: "LISTAR"
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: "error",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const data = _.get(resp, "data", [])
        this.listaMotivoMultas = {
          headers: [
            { text: 'Acciones', value: 'actions', sortable: false, width: 75, align: 'center' },
            { text: 'Código', value: 'codigo' },
            { text: 'Descripción', value: 'descripcion' },
          ],
          items: data
        }
      })
      .catch((error) => {
        console.log(error)
        this.$swal({
          icon: "error",
          title: "Error interno de consulta",
        })
      })
    },

    dataItemDefault () {
      this.editedItem = {
        idMotivoMulta: null,
        codigo: '',
        descripcion: '',
      }
    },

    editItem (item) {
      this.dataItemDefault()
      
      if ( !_.isEmpty(item) ) {
        this.editedItem = Object.assign({}, item)
      }

      this.dialog = true
    },

    cerrar () {
      this.dataItemDefault()
      this.dialog = false
    },

    async guardar () {
      const resp = await this.$axios.$post("seguridad/parametros/motivo-multas/guardar", {
        opcion: _.isNil(this.editedItem.idMotivoMulta) ? 'I' : 'U',
        idMotivoMulta: this.editedItem.idMotivoMulta,
        codigo: this.editedItem.codigo,
        descripcion: this.editedItem.descripcion,
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: "error",
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
        })
        return
      }

      this.$swal({
        icon: "success",
        title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
      })

      this.buscarMotivoMultas()
      this.cerrar()
    },
  },
}
</script>