<template>
  <v-card>
    <v-tabs
      v-model="tab"
      background-color="primary"
      dark
    >
      <v-tab
        v-for="item in items"
        :key="item.tab"
        :to="item.to"
        nuxt
      >
        {{ item.tab }}
      </v-tab>
    </v-tabs>
    
    <NuxtChild />
  </v-card>
</template>

<script>
export default {
  name: 'ParametrosCliente',
  // middleware: 'routes',
  data () {
    return {
      tab: null,
      items: [
        { tab: 'Calificación de Cliente', to: '/seguridad/parametros/cliente/calificacion-cliente' },
        { tab: 'Clase de Cliente', to: '/seguridad/parametros/cliente/clase-cliente' },
        { tab: 'Tipo de Cliente', to: '/seguridad/parametros/cliente/tipo-cliente' },
        { tab: 'Tipo de Recaudación', to: '/seguridad/parametros/cliente/tipo-recaudacion' },
        { tab: 'Tipo de Instalación', to: '/seguridad/parametros/cliente/tipo-instalacion' },
      ],
    }
  },
  mounted () {
    const firstTab = _.head(this.items)
    this.$router.push(firstTab.to)
  }
}
</script>