<template>
  <v-card>
    <v-tabs
      v-model="tab"
      background-color="primary"
      dark
    >
      <v-tab
        v-for="item in items"
        :key="item.tab"
        :to="item.to"
        nuxt
      >
        {{ item.tab }}
      </v-tab>
    </v-tabs>
    
    <NuxtChild />
  </v-card>
</template>

<script>
export default {
  name: 'ParametrosIniciales',
  // middleware: 'routes',
  data () {
    return {
      tab: null,
      items: [
        // { tab: 'Empresa', to: '/seguridad/parametros/parametros-iniciales/empresa' },
        { tab: 'Bancos', to: '/seguridad/parametros/parametros-iniciales/bancos' },
        { tab: 'Contratos y Servicios', to: '/seguridad/parametros/parametros-iniciales/contratos-servicios' },
        { tab: 'Tabla de Valores', to: '/seguridad/parametros/parametros-iniciales/tabla-valores' },
        { tab: 'Tarjeta de Crédito', to: '/seguridad/parametros/parametros-iniciales/tarjeta-credito' },
        { tab: 'Items', to: '/seguridad/parametros/parametros-iniciales/items' },
        { tab: 'Tipos de Reclamos', to: '/seguridad/parametros/parametros-iniciales/tipo-reclamos' },
        { tab: 'Rangos Estadística Consumo', to: '/seguridad/parametros/parametros-iniciales/rango-estadistica' },
        { tab: 'Motivo de Multas', to: '/seguridad/parametros/parametros-iniciales/motivo-multas' },
      ],
    }
  },
  mounted () {
    const firstTab = _.head(this.items)
    this.$router.push(firstTab.to)
  }
}
</script>