<template>
  <v-form>
    <v-data-table
      :headers="listaClientes.headers"
      :items="listaClientes.items"
      :footer-props="{ 'show-first-last-page': true }"
      :search="search"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>MANTENIMIENTO DE CLIENTE</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>
          
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
          ></v-text-field>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon
          color="primary"
          class="mr-2"
          @click="editItem(item)"
          small
        >
          mdi-pencil
        </v-icon>
      </template>

      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="buscarClientes"
        >
          Recargar
        </v-btn>
      </template>
    </v-data-table>

    <v-dialog
      v-model="dialog"
      max-width="700px"
      scrollable
      persistent
    >
      <ValidationObserver v-slot="{ passes }">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-form class="px-1">
            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <v-text-field
                  v-model="editedItem.cuenta"
                  label="Cuenta"
                  readonly
                ></v-text-field>
              </v-col>
              
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="identificación">
                  <v-text-field
                    v-model="editedItem.identificacion"
                    :error-messages="errors[0]"
                    label="Identificación"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="primer nombre">
                  <v-text-field
                    v-model="editedItem.primerNombre"
                    :error-messages="errors[0]"
                    label="Primer Nombre"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="segundo nombre">
                  <v-text-field
                    v-model="editedItem.segundoNombre"
                    :error-messages="errors[0]"
                    label="Segundo Nombre"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="primer apellido">
                  <v-text-field
                    v-model="editedItem.primerApellido"
                    :error-messages="errors[0]"
                    label="Primer Apellido"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="segundo apellido">
                  <v-text-field
                    v-model="editedItem.segundoApellido"
                    :error-messages="errors[0]"
                    label="Segundo Apellido"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="teléfono">
                  <v-text-field
                    v-model="editedItem.telefono"
                    :error-messages="errors[0]"
                    label="Teléfono"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
              
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="" v-slot="{ errors }" name="correo electrónico">
                  <v-text-field
                    v-model="editedItem.email"
                    :error-messages="errors[0]"
                    label="Correo electrónico"
                  ></v-text-field>
                </ValidationProvider>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="calificación">
                  <v-select
                    v-model="editedItem.idCalificacionCliente"
                    :error-messages="errors[0]"
                    :items="listaCalificacionCliente"
                    label="Calificación"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>

              <v-col
                class="py-1"
                cols="12"
                md="6"
              >
                <ValidationProvider rules="required" v-slot="{ errors }" name="estado de cuenta">
                  <v-select
                    v-model="editedItem.idEstadoCuenta"
                    :error-messages="errors[0]"
                    :items="listaEstadoCuenta"
                    label="Estado de cuenta"
                    item-text="descripcion"
                    item-value="valor"
                  ></v-select>
                </ValidationProvider>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="cerrar"
          >
            Cancelar
          </v-btn>
          <v-btn
            color="primary darken-1"
            text
            @click.prevent="passes(guardar)"
          >
            Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
      </ValidationObserver>
    </v-dialog>
  </v-form>
</template>

<script>
export default {
  name: 'Cliente',
  middleware: 'routes',
  data: () => ({
    dialog: false,
    listaClientes: {},
    editedItem: {},
    search: '',
    listaEstadoCuenta: [],
    listaCalificacionCliente: [],
    cambiarClave: false
  }),

  computed: {
    formTitle () {
      return _.isNil(this.editedItem.idCliente) ? 'Nuevo Registro' : 'Editar Registro'
    },
  },

  created () {
    this.index().then(() => {
      this.buscarClientes()
    })
  },

  methods: {
    index() {
      return this.$axios.$get("comercial/cliente/index")
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: "error",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        if ( !_.isNil(resp.data) ) {
          this.listaEstadoCuenta = resp.data.listaEstadoCuenta
          this.listaCalificacionCliente = resp.data.listaCalificacionCliente
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta: ${error}`,
        })
      })
    },

    buscarClientes () {
      this.listaClientes = {}

      return this.$axios.$post("comercial/cliente/listar", {
        opcion: "LISTADO"
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: "error",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const data = _.get(resp, "data", [])
        this.listaClientes = {
          headers: [
            { text: 'Editar', value: 'actions', sortable: false, width: 75, align: 'center' },
            { text: 'Cuenta', value: 'cuenta' },
            { text: 'Identificación', value: 'identificacion' },
            { text: 'Nombre', value: 'nombre' },
            { text: 'Teléfono', value: 'telefono' },
            { text: 'Estado Cuenta', value: 'estadoCuenta' },
          ],
          items: data
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta: ${error}`,
        })
      })
    },

    dataItemDefault () {
      this.editedItem = {
        cuenta: null,
        idCliente: null,
        idCalificacionCliente: null,
        identificacion: '',
        primerNombre: '',
        segundoNombre: '',
        primerApellido: '',
        segundoApellido: '',
        telefono: '',
        email: '',
        idEstadoCuenta: null
      }
    },

    editItem (item) {
      this.dataItemDefault()
      
      if ( !_.isEmpty(item) ) {
        this.editedItem = Object.assign({}, item)
      }

      this.dialog = true
    },

    cerrar () {
      this.dataItemDefault()
      this.dialog = false
    },

    async guardar () {
      const resp = await this.$axios.$post("comercial/cliente/guardar", {
        opcion: _.isNil(this.editedItem.idCliente) ? 'I' : 'U',
        idCliente: this.editedItem.idCliente,
        idCalificacionCliente: this.editedItem.idCalificacionCliente,
        identificacion: this.editedItem.identificacion,
        primerNombre: this.editedItem.primerNombre,
        segundoNombre: this.editedItem.segundoNombre,
        primerApellido: this.editedItem.primerApellido,
        segundoApellido: this.editedItem.segundoApellido,
        telefono: this.editedItem.telefono,
        email: this.editedItem.email,
        idEstadoCuenta: this.editedItem.idEstadoCuenta,
        idInstalacion: this.editedItem.idInstalacion
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: "error",
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
        })
        return
      }

      this.$swal({
        icon: "success",
        title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
      })

      this.buscarClientes()
      this.cerrar()
    }
  }
}
</script>