<template>
  <v-app id="inspire">
    <v-navigation-drawer
      :value="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      width="295"
      app
    >
      <v-list dense nav expand>
        <template v-for="item in items">
          <v-list-group
            v-if="item.children"
            v-model="item.active"
            :key="item.text"
            :prepend-icon="item.icon"
            no-action
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>

            <template v-for="(child, i) in item.children">
              <v-list-group
                v-if="child.children"
                v-model="child.active"
                :key="child.text"
                no-action
                sub-group
              >
                <template v-slot:activator>
                  <v-list-item-content>
                    <v-list-item-title>{{ child.text }}</v-list-item-title>
                  </v-list-item-content>
                </template>

                <v-list-item
                  v-for="(subItem, i) in child.children"
                  :key="i"
                  :to="subItem.to"
                  router
                  exact
                  dense
                >
                  <v-tooltip right>
                    <template v-slot:activator="{ on, attrs }">
                      <v-list-item-title
                        v-bind="attrs"
                        v-on="on"
                      >
                        {{ subItem.text }}
                      </v-list-item-title>
                    </template>
                    <span>{{ subItem.text }}</span>
                  </v-tooltip>
                </v-list-item>
              </v-list-group>

              <v-list-item
                v-else
                :key="i"
                :to="child.to"
                router
                exact
                dense
              >
                <v-list-item-content>
                  <v-list-item-title>
                    {{ child.text }}
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-item-action>
              </v-list-item>
            </template>
          </v-list-group>

          <v-list-item
            v-else
            :key="item.text+'-2'"
            :to="item.to"
            router
            exact
            dense
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="blue darken-3"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <NuxtLink to="/">
        <v-img
          src="/logo-1.png"
          alt="Vuetify"
          max-width="80"
        ></v-img>
      </NuxtLink>

      <v-spacer></v-spacer>

      <!-- <input v-model="moduleSelected" type="hidden"> -->

      <div class="subtitle-2 text-center mr-1">
        <template v-if="user">
          {{ `${user.nombres} (${user.username})` }}
        </template>
      </div>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn 
            @click="$vuetify.theme.dark = !$vuetify.theme.dark" 
            v-bind="attrs"
            v-on="on"
            icon
          >
            <v-icon>mdi-invert-colors</v-icon>
          </v-btn>
        </template>
        <span>Invertir colores</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn 
            @click.stop="logout" 
            v-bind="attrs"
            v-on="on"
            icon
          >
              <v-icon>mdi-logout</v-icon>
          </v-btn>
        </template>
        <span>Cerrar sesión</span>
      </v-tooltip>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'Default',
  data: () => ({
    drawer: true,
    items: [],
    user: {}
  }),
  watch: {
    items: {
      deep: true,
      handler() {
        this.$auth.$storage.setLocalStorage('ei_menu_options', this.items, true)
      }
    },
  },
  // computed: {
  //   moduleSelected() {
  //     if (this.$route.name == 'index') {
  //       this.drawer = false
  //       if ( !_.isNull(this.$store.state.module) ) {
  //         // SE RECORREN LOS MODULOS
  //         _.forEach(this.items, (item) => {
  //           if (item.text == this.$store.state.module) {
  //             item.active = true
  //           } else {
  //             if (item.active == true) {
  //               item.active = false
  //             }
  //           }
  //         })
  //         this.drawer = true
  //       }
  //     }
      
  //     return this.$store.state.module
  //   }
  // },
  methods: {
    async logout () {
      await this.$localForage.clear

      await this.$auth.logout()
      .then(() => this.$router.push('/login') )
    },
  },
  mounted () {
    this.items = this.$auth.$storage.getLocalStorage('ei_menu_options')
    this.user = this.$auth.$storage.getLocalStorage('ei_user')
  },
  // created () {
  //   if (this.$route.name == 'index') {
  //     this.drawer = false
  //   }
  // }
}
</script>
