<template>
  <v-app dark>
    <v-container
      class="text-center"
      fill-height
      style="height: calc(100vh - 58px);"
    >
      <v-row align="center">
        <v-col>
          <h1 class="display-2 primary--text" v-if="error.statusCode === 404">
            {{ pageNotFound }}
          </h1>
          <h1 class="display-2 primary--text" v-else>
            {{ otherError }}
          </h1>
          <p>
            <NuxtLink to="/">
              Página principal
            </NuxtLink>
          </p>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'Whoops, ha ocurrido un error'
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>
