<template>
  <v-form>
    <v-flex class="text-center py-10">
      <img
        src="/logo-1.png"
        alt="EMAPA EP"
        class="mb-5 mt-10"
        width="300"
      >
      <blockquote class="blockquote">
        <b><em>Llevando agua, salud y vida</em></b>
      </blockquote>
      <!-- <v-row class="mx-10">
        <v-col
          v-for="(item, i) in items"
          :key="i"
          cols="12" md="4"
        >
          <v-card @click="mostrarOpciones(item)" :disabled="!item.children" link hover>
            <v-img
              height="100"
              contain
              class="align-center"
            >
              <v-icon
                x-large
                :color="randomColor()"
              >
                {{ item.icon }}
              </v-icon>
            </v-img>
            <v-card-title class="title justify-center">
              {{ item.text }}
            </v-card-title>
          </v-card>
        </v-col>
      </v-row> -->
    </v-flex>
  </v-form>
</template>

<script>
export default {
  name: 'Default',
  data: () => ({
    items: [],
  }),
  methods: {
    mostrarOpciones (item) {
      this.$store.commit('CHANGE_MODULE_SELECTED', item.text)
    },
    randomColor() {
      const r = () => Math.floor(256 * Math.random());

      return `rgb(${r()}, ${r()}, ${r()})`;
    }
  },
  mounted () {
    // this.$store.commit('CHANGE_MODULE_SELECTED', null)
    this.items = this.$auth.$storage.getLocalStorage('ei_menu_options')
  }
}
</script>
