<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <ValidationObserver v-slot="{ passes }">
              <v-form @submit.prevent="passes(postLogin)">
                <v-card class="elevation-12">
                  <v-toolbar
                    color="primary"
                    dark
                    flat
                  >
                    <v-toolbar-title>{{ empresa }} - EMAPA INNOVATION</v-toolbar-title>
                  </v-toolbar>
                  <v-card-text>
                      <ValidationProvider rules="required|max:30" v-slot="{ errors }" name="usuario">
                        <v-text-field
                          v-model="username"
                          :error-messages="errors[0]"
                          label="Usuario"
                          prepend-icon="mdi-account"
                          type="text"
                        ></v-text-field>
                      </ValidationProvider>

                      <ValidationProvider rules="required|max:30" v-slot="{ errors }" name="contraseña">
                        <v-text-field
                          v-model="password"
                          :error-messages="errors[0]"
                          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                          :type="showPassword ? 'text' : 'password'"
                          label="Contraseña"
                          prepend-icon="mdi-lock"
                          @click:append="showPassword = !showPassword"
                        ></v-text-field>
                      </ValidationProvider>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn type="submit" color="primary">Login</v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>
            </ValidationObserver>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
  export default {
    name: 'Login',
    layout: 'empty',
    data () {
      return {
        username: '',
        password: '',
        showPassword: false,
        empresa: process.env.EMPRESA,
        idAgencia: 1
      }
    },
    methods: {
      async postLogin () {
          try {
            await this.$auth.loginWith('local', {
              data: {
                idEmpresa: process.env.ID_EMPRESA,
                idAgencia: this.idAgencia,
                username: this.username,
                password: this.password
              }
            }).then((resp) => {
              const response = resp.data
              if (!response.existeError) {
                if (_.isNil(response.data.token)) {
                  this.$swal({ icon: 'error', title: 'Error de Inicio de Sesión' })
                }
                
                this.$auth.$storage.setLocalStorage('ei_menu_options', response.data.menu, true)
                this.$auth.$storage.setLocalStorage('ei_user', response.data.user, true)
                this.$auth.setUser(response.data.user)
              } else {
                this.$swal({ icon: 'error', title: _.get(response, 'mensaje', 'Error de Comunicación') })
              }
            })

            await this.$localForage.clear
          } catch (e) {
            this.$swal({ icon: 'error', title: `Error interno ${e.message}` })
          }
      }
    },
    mounted () {
      if (!this.$auth.loggedIn) {
        this.$auth.$storage.removeUniversal('ei_menu_options')
        this.$auth.$storage.removeUniversal('ei_user')
      }
    }
  }
</script>