<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Auditoría de acciones en el sistema
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-row>
        <v-col cols="12" md="3">
          <v-menu
            v-model="menuRangoFechas"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateRangeText"
                label="Rango de Fechas"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="rangoFechas"
              color="primary"
              no-title
              scrollable
              range
            >
              <v-spacer></v-spacer>
              <v-btn
                text
                color="primary"
                @click="menuRangoFechas = false"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="4">
          <v-autocomplete
            v-model="idUsuario"
            :items="listaUsuarios"
            item-text="descripcion"
            item-value="valor"
            label="Usuario"
            clearable
          ></v-autocomplete>
        </v-col>

        <v-col cols="12" md="4">
          <v-btn 
            class="ma-2" 
            color="indigo"
            @click="buscarAuditoria" 
            dark
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn>
          <v-btn
            color="primary"
            class="ma-2 white--text"
            @click="exportExcel"
          >
            Descargar
            <v-icon right dark>mdi-download</v-icon>
          </v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12 pt-0">
          <v-card-title class="pt-0">
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Buscar"
              single-line
              hide-details
              clearable
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="listaAuditoria.headers"
            :items="listaAuditoria.items"
            :footer-props="{ 'show-first-last-page': true }"
            :search="search"
            :items-per-page="15"
            class="elevation-1"
            dense disable-sort
          ></v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "RptAuditoriaAcciones",
  middleware: 'routes',
  data: () => ({
    fechaActual: new Date().toISOString().substring(0, 10),
    rangoFechas: [new Date().toISOString().substring(0, 10), new Date().toISOString().substring(0, 10)],
    menuRangoFechas: false,
    listaUsuarios: [],
    idUsuario: null,
    currentHover: null,
    allNodes: [],
    focusMonth: null,
    search: '',
    listaAuditoria: {}
  }),
  watch: {
    currentHover: function(value) {
      this.resetHover();
      if (this.rangoFechas.length == 1) {
        var fixedDate = this.rangoFechas[0];
        var valueDate = this.getFloatingDate(fixedDate, value);
        for (var i = 1; i <= this.allNodes.length; i++) {
          var iDate = this.getFloatingDate(fixedDate, i);
          if (fixedDate > valueDate && iDate >= valueDate && fixedDate >= iDate) {
            this.addClass(i-1);
          }
          if (fixedDate < valueDate && iDate <= valueDate && fixedDate <= iDate) {
            this.addClass(i-1)
          }
        }
      }
    },
    rangoFechas: function(value) {
      var self = this;
      self.allNodes = document.querySelectorAll(".v-date-picker-table .v-btn__content");
      var observer = new MutationObserver(function(mutations){
        for (var i=0; i < mutations.length; i++){
          if (i == mutations.length -1) {
            var headerText = document.querySelector(".v-date-picker-header__value button");
            if (headerText) {
              headerText = headerText.innerText;
              self.focusMonth = new Date(headerText).toLocaleDateString().split('/').reverse().join('-').substring(0,8);
            }
            self.initDateHoverEvent();
          }
        }
      });
      observer.observe(document.getElementsByClassName("v-picker__body")[0], {
        childList: true,
        subtree: true,
      });
      
      if (value.length === 1) {
        self.initDateHoverEvent();
      }
      if (value.length == 2) {
        this.resetHover();
      }
    },
  },
  computed: {
    dateRangeText () {
      const fechasOrdenadas = _.sortBy(this.rangoFechas)
      return fechasOrdenadas.join(' ~ ')
    },
  },
  methods: {
    index() {
      return this.$axios.$get('gerencia/reportes/auditoria-acciones/index')
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }
        
        if ( !_.isNil(resp.data) ) {
          this.listaUsuarios = resp.data.listaUsuarios
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error interno de consulta: ${error}`,
        })
      })
    },
    buscarAuditoria() {
      this.listaAuditoria = {}

      const rangoFechasOrdered = _.sortBy(this.rangoFechas)
      const fechaDesde = rangoFechasOrdered[0]
      const fechaHasta = _.get(rangoFechasOrdered, 1, rangoFechasOrdered[0])

      return this.$axios.$post('gerencia/reportes/auditoria-acciones/listar', {
        opcion: 'RPT_LISTA_AUDITORIA',
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        idUsuario: this.idUsuario
      })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
            })
            return
          }

          const data = _.get(resp, 'data', [])
          this.listaAuditoria = {
            headers: this.$utils.generarCabeceraDtt(data),
            items: data
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },
    exportExcel() {
      const rangoFechasOrdered = _.sortBy(this.rangoFechas)
      const fechaDesde = rangoFechasOrdered[0]
      const fechaHasta = _.get(rangoFechasOrdered, 1, rangoFechasOrdered[0])

      return this.$axios.$post('gerencia/reportes/auditoria-acciones/exportar', {
        opcion: 'RPT_LISTA_AUDITORIA',
        fechaDesde: fechaDesde,
        fechaHasta: fechaHasta,
        idUsuario: this.idUsuario
      }, {
        responseType: 'blob' 
      })
      .then((resp) => {
        if (resp.existeError) {
          this.$swal({
            icon: "error",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
          })
          return
        }

        const link = document.createElement('a')
        link.download = `AUDITORIA DE ACCIONES AQUA ${fechaDesde}.xlsx`
        link.href = URL.createObjectURL(resp)
        link.click()

        link.onload = () => {
          URL.revokeObjectURL(link.href)
        }
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al consultar datos: ${error}`
        })
      })
    },
    addClass: function(i) {
      this.allNodes[i].parentNode.classList.add("highlight__date");
      this.allNodes[i].classList.add("date__color");
    },
    resetHover: function() {
      for (var i = 0; i < this.allNodes.length; i++) {
        this.allNodes[i].parentNode.classList.remove("highlight__date");
        this.allNodes[i].classList.remove("date__color");  
      }
    },
    initDateHoverEvent: function () {
      var self = this;
      self.allNodes = document.querySelectorAll(".v-date-picker-table .v-btn__content");
      self.allNodes.forEach(function(node) {
        node.addEventListener("mouseover", function() {
          self.currentHover = node.innerText;
        });
      });
    },
    getFloatingDate(fixedDate, value) {
      var valueDate = value.toString().length == 1 ? "0" + value : value;
      var joinDate = this.focusMonth ? this.focusMonth : fixedDate.substring(0, 8);
      return joinDate + valueDate;
    }
  },
  mounted() {
    this.index()
  }
}
</script>

<style lang="css">
  .highlight__date {
    background-color: #82e3e3; 
  }
  .date__color {
    color: #ffffff;
  }
</style>