<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Recaudación de Facturas
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <ValidationObserver v-slot="{ passes }">
        <v-row>
          <v-col cols="12" md="3">
            <v-menu
              v-model="menuPeriodoFacturacion"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="periodoFacturacion"
                  label="Periodo de Facturación"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="periodoFacturacion"
                type="month"
                no-title
                scrollable
                @input="menuPeriodoFacturacion = false"
              ></v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="12" md="4">
            <ValidationProvider rules="required" v-slot="{ errors }" name="tipo de consulta">
              <v-select
                v-model="tipoReporte"
                :items="listaTipoReporte"
                :error-messages="errors[0]"
                item-text="descripcion"
                item-value="valor"
                label="Tipo de Consulta"
              ></v-select>
            </ValidationProvider>
          </v-col>

          <v-col cols="12" md="4">
            <v-btn 
              class="ma-2" 
              color="indigo"
              @click="passes(buscarRecaudaciones)" 
              dark
            >
              <v-icon dark>mdi-magnify</v-icon>
            </v-btn>
            <v-btn
              color="primary"
              class="ma-2 white--text"
              @click="passes(exportExcel)"
            >
              Descargar
              <v-icon right dark>mdi-download</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12 pt-0">
            <v-card-title class="pt-0">
                <v-spacer></v-spacer>
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar"
                    single-line
                    hide-details
                    clearable
                ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="listaRecaudaciones.headers"
              :items="listaRecaudaciones.items"
              :footer-props="{ 'show-first-last-page': true }"
              :search="search"
              class="elevation-1"
              dense disable-sort
            ></v-data-table>
          </v-col>
        </v-row>
      </ValidationObserver>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "RptRecaudacionFacturas",
  middleware: 'routes',
  data: () => ({
    periodoFacturacion: new Date(new Date().setMonth(new Date().getMonth() - 1)).toISOString().substring(0, 7),
    menuPeriodoFacturacion: false,
    listaTipoReporte: [],
    tipoReporte: null,
    listaRecaudaciones: [],
    search: ''
  }),
  mounted() {
    this.index()
  },
  methods: {
    index() {
      return this.$axios.$get('gerencia/reportes/recaudacion-factura/index')
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
            })
            return
          }
          
          if ( !_.isNil(resp.data) ) {
            this.listaTipoReporte = resp.data.listaTipoReporteRecaudacion
            this.tipoReporte = resp.data.tipoReporteRecaudacionDefault
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },
    buscarRecaudaciones() {
      this.listaRecaudaciones = {}

      return this.$axios.$post('gerencia/reportes/recaudacion-factura/listar', {
        opcion: this.tipoReporte,
        periodo: this.periodoFacturacion
      })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
            })
            return
          }

          const data = _.get(resp, 'data', [])
          this.listaRecaudaciones = {
            headers: this.$utils.generarCabeceraDtt(data),
            items: data
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    },
    exportExcel() {
      return this.$axios.$post('gerencia/reportes/recaudacion-factura/exportar', {
        opcion: this.tipoReporte,
        periodo: this.periodoFacturacion
      }, {
        responseType: 'blob' 
      })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta'
            })
            return
          }

          const link = document.createElement('a')
          link.download = `RECAUDACION FACTURAS ${this.periodoFacturacion}.xlsx`
          link.href = URL.createObjectURL(resp)
          link.click()

          link.onload = () => {
            URL.revokeObjectURL(link.href)
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`
          })
        })
    }
  }
}
</script>
