<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Consulta de Cortes y Reconexiones
      </v-toolbar-title>
    </v-toolbar>

    <v-container>
      <v-row>
        <v-col cols="12" md="2">
          <v-menu
            v-model="menuPeriodo"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="periodoCorte"
                label="Periodo"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                clearable
                @click:clear="periodoCorte = null"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="periodoCorte"
              type="month"
              no-title
              scrollable
              @input="menuPeriodo = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" md="3">
          <v-select
            v-model="estadoCorte"
            :items="listaEstadoCorte"
            item-text="descripcion"
            item-value="valor"
            label="Estado de Corte"
            clearable
          ></v-select>
        </v-col>
        <v-col cols="12" md="2">
          <v-text-field
            v-model="numeroCorte"
            label="# de Corte"
            clearable
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="2">
          <v-btn 
            class="ma-3" 
            color="primary"
            @click="obtenerListadoCortes"
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-row justify="center">
      <v-col cols="12">
        <v-card-title>
          <template v-if="flagExisteCortes">
            <v-btn
              color="#1D6F42"
              @click="exportExcel"
              dark
              small
            >
              Exportar
              <v-icon right dark>mdi-file-excel</v-icon>
            </v-btn>
          </template>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
            dense
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="listaCortes.headers"
          :items="listaCortes.items"
          :search="search"
          class="elevation-1"
          dense
        >
          <template v-slot:[`item.verDetalle`]="{ item }">
            <v-icon @click="verDetalleCorte(item)">
              mdi-eye-outline
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogCorteDetalle" max-width="800px" :retain-focus="false" scrollable>
      <v-card>
        <v-card-title class="text-h6">Detalle de Corte</v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-row dense>
            <v-col cols="12">
              <v-subheader class="pa-0">Datos de Instalación</v-subheader>
              <v-row dense>
                <v-col cols="12">
                  <v-text-field v-model="itemCorte.cliente" label="Cliente" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.numeroCuenta" label="Número de Cuenta" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.medidor" label="Medidor" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.claveCatastral" label="Clave Catastral" dense readonly></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="pt-0">
              <v-subheader class="pa-0">Datos de Corte</v-subheader>
              <v-row dense>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.numeroCorte" label="Número de Corte" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.periodoCorte" label="Periodo de Corte" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.estadoCorte" label="Estado de Corte" dense readonly></v-text-field>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.fechaIniciado" label="Fecha Iniciado" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.fechaCorte" label="Fecha de Corte" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.fechaReconexion" label="Fecha de Reconexión" dense readonly></v-text-field>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.lecturaCorte" label="Lectura de Corte" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.responsableCorte" label="Responsable de Corte" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.causaNoCorte" label="Causa de No Corte" dense readonly></v-text-field>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="12">
                  <v-text-field v-model="itemCorte.observacionCorte" label="Observación de Corte" dense readonly></v-text-field>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.lecturaReconexion" label="Lectura de Reconexión" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.responsableReconexion" label="Responsable de Reconexión" dense readonly></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-text-field v-model="itemCorte.observacionReconexion" label="Observación de Reconexión" dense readonly></v-text-field>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="py-0">
              <v-subheader class="pa-0">Evidencias</v-subheader>
              <v-list class="py-0">
                <template v-for="(item, index) in listaEvidenciasCorte">
                  <v-list-item v-if="1==1" :key="item.idCorte+item.idCorteEvidencia">
                    <v-list-item-avatar>
                      <v-icon
                        class="primary"
                        dark
                      >mdi-file-find</v-icon>
                    </v-list-item-avatar>

                    <v-list-item-content @click="verEvidenciaCorte(item.urlEvidencia)" style="cursor: pointer">
                      <v-list-item-title>{{ `Evidencia ${index+1}` }}</v-list-item-title>
                      <v-list-item-subtitle>{{ `Estado de corte: ${item.estadoCorte}` }}</v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text class="mx-auto">Descargar</v-list-item-action-text>
                      <v-btn class="mx-auto" icon @click="downloadFile(item.urlEvidencia)">
                        <v-icon color="primary">mdi-download</v-icon>
                      </v-btn>
                    </v-list-item-action>
                  </v-list-item>

                  <v-divider
                    v-if="index < listaEvidenciasCorte.length - 1"
                    :key="index"
                    class="my-2"
                  ></v-divider>
                </template>
              </v-list>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialogCorteDetalle = false">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="dialogEvidenciaCorte"
      max-width="600px"
      scrollable
    >
      <v-card>
        <v-card-title>
          Foto de Evidencia
        </v-card-title>
        <v-card-text>
          <v-img 
            :src="genericFile.url"
            max-width="600px"
            contain
          ></v-img>
        </v-card-text>

        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="red darken-1" @click="dialogEvidenciaCorte = false">
            Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script>
import { saveAs } from 'file-saver'

export default {
  name: "ConsultaCortesPage",
  middleware: 'routes',
  data: () => ({
    periodoCorte: new Date().toISOString().substring(0, 7),
    menuPeriodo: false,
    listaEstadoCorte: [],
    estadoCorte: null,
    numeroCorte: null,
    listaCortes: {},
    search: '',
    itemCorte: {},
    dialogCorteDetalle: false,
    listaEvidenciasCorte: [],
    genericFile: {},
    dialogEvidenciaCorte: false,
    archivoGeneracionCortes: null,
  }),
  mounted() {
    this.index().then(() => {
      this.obtenerListadoCortes()
    })
  },
  computed: {
    flagExisteCortes () {
      if (!_.isNil(this.listaCortes.items) && !_.isEmpty(this.listaCortes.items)) {
        return true
      }
      return false
    }
  },
  methods: {
    index() {
      return this.$axios.$get('comercial/corte-reconexion/index')
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          
          if ( !_.isNil(resp.data) ) {
            this.listaEstadoCorte = resp.data.listaEstadoCorte
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`,
          })
        })
    },

    obtenerListadoCortes() {
      if (_.isNil(this.periodoCorte) && _.isNil(this.estadoCorte) && _.isEmpty(this.numeroCorte)) {
        this.$swal({
          icon: 'warning',
          title: 'Seleccione al menos un filtro de búsqueda',
        })
        return
      }

      this.listaCortes = {}

      return this.$axios
        .$post('comercial/corte-reconexion/listar', {
          opcion: 'LISTAR_CORTES',
          periodoCorte: this.periodoCorte,
          estadoCorte: this.estadoCorte,
          numeroCorte: this.numeroCorte,
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, 'data', [])
          this.listaCortes = {
            headers: [
              { text: '# Corte', value: 'numeroCorte' },
              { text: 'Periodo Corte', value: 'periodoCorte' },
              { text: 'Fecha Iniciado', value: 'fechaIniciado' },
              { text: 'Fecha Corte', value: 'fechaCorte' },
              { text: 'Fecha Reconexión', value: 'fechaReconexion' },
              { text: 'Estado', value: 'estadoCorte', align: 'center' },
              { text: 'Causa No Corte', value: 'causaNoCorte' },
              { text: 'Instalación', value: 'numeroCuenta' },
              { text: 'Medidor', value: 'medidor' },
              { text: 'Detalle', value: 'verDetalle', sortable: false, align: 'center' },
            ],
            items: data
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar datos: ${error}`
          })
        })
    },

    async verDetalleCorte (item) {
      this.dataItemDefault()

      const resp = await this.$axios.$post('comercial/corte-reconexion/listar', {
        opcion: 'LISTAR_DETALLE_CORTE',
        idCorte: item.idCorte,
      })
      
      if (resp.existeError) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
        })
        return
      }
      
      this.itemCorte = Object.assign({}, resp.data[0])

      await this.obtenerEvidenciasCorte(this.itemCorte)

      this.dialogCorteDetalle = true
    },

    async obtenerEvidenciasCorte (item) {
      const resp = await this.$axios.$post('comercial/corte-reconexion/listar', {
        opcion: 'LISTAR_EVIDENCIAS_CORTE',
        idCorte: item.idCorte,
      })

      if (resp.existeError) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
        })
        return
      }

      this.listaEvidenciasCorte = _.get(resp, 'data', [])
    },

    verEvidenciaCorte (urlFile) {
      this.genericFile = {}

      return this.$axios.$get(`seguridad/utilities/getFile/${urlFile}`, {
        responseType: 'blob' 
      })
        .then((resp) => {
          // Si es objeto json, quiere decir que hubo un error al buscar imagen
          if(resp.type == 'application/json') {
            resp = Object.assign({}, { existeError: true })
          }
          
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al consultar fichero',
            })

            return
          }

          const link = document.createElement('a')
          link.href = URL.createObjectURL(resp)
          
          this.genericFile = {
            url: link.href,
            blob: resp
          }

          link.onload = () => {
            URL.revokeObjectURL(link.href)
          }
          
          this.dialogEvidenciaCorte = true
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar imagen: ${error}`
          })
        })
    },

    async downloadFile (urlFile) {
      // Se obtiene url desencriptada para saber el nombre y extension del archivo
      const resp = await this.$axios.$get(`seguridad/utilities/getFileURL/${urlFile}`)
      if (resp.existeError) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'No se encontraron resultados',
        })
        return
      }
      if (_.isEmpty(resp.data)) {
        this.$swal({
          icon: 'error',
          title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'No se encontraron resultados',
        })
        return
      }
      const nameFile = _.last(_.split(resp.data, '/'))
      // const extensionFile = _.last(_.split(nameFile, '.'))

      return this.$axios.$get(`seguridad/utilities/getFile/${urlFile}`, {
        responseType: 'blob' 
      })
        .then((resp) => {
          // Si es objeto json, quiere decir que hubo un error al buscar imagen
          if(resp.type == 'application/json') {
            resp = Object.assign({}, { existeError: true })
          }

          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al consultar fichero',
            })

            return
          }

          saveAs(resp, nameFile)
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar fichero: ${error}`
          })
        })
    },

    dataItemDefault () {
      this.genericFile = {}
      this.itemCorte = {}
      this.listaEvidenciasCorte = []
    },

    exportExcel() {
      return this.$axios.$post('comercial/corte-reconexion/exportar', {
        opcion: 'RPT_LISTADO_CORTES',
        periodoCorte: this.periodoCorte,
        estadoCorte: this.estadoCorte,
        numeroCorte: this.numeroCorte,
      }, {
        responseType: 'blob'
      })
      .then((resp) => {
        // Si es objeto json, quiere decir que hubo un error al buscar imagen
        if(resp.type == 'application/json') {
          resp = Object.assign({}, { existeError: true })
        }

        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'No se encontraron datos',
          })
          return
        }
        
        const fechaActual = new Date().toISOString().substring(0, 10)
        saveAs(resp, `Cortes ${fechaActual}.xlsx`)
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al consultar datos: ${error}`
        })
      })
    }
  },
}
</script>