<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Generación de Cortes
      </v-toolbar-title>
    </v-toolbar>

    <v-form ref="form" lazy-validation>
      <v-card class="mx-auto" outlined>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="3">
              <v-file-input
                v-model="archivoGeneracionCortes"
                :rules="[v => !v || v.size < 3000000 || 'Archivo debe pesar menos de 3 MB!']"
                accept=".xls, .xlsx"
                placeholder="Seleccionar archivo"
                label="Archivo para generar cortes"
                prepend-icon="mdi-paperclip"
              ></v-file-input>
            </v-col>

            <v-col cols="12" md="2">
              <v-btn
                :loading="loading"
                :disabled="loading"
                color="primary"
                class="ma-3 white--text"
                @click="importarExcelGeneracionCortes"
              >
                Importar
                <v-icon right dark>mdi-cloud-upload</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

      <v-row justify="center" class="pt-7">
        <v-col cols="12">
          <v-card-title class="pt-0">
            Cortes Generados
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              prepend-icon="mdi-reload"
              @click:prepend="obtenerCortesGenerados"
              label="Buscar"
              single-line
              hide-details
              clearable
              dense
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="listaCortesGenerados.headers"
            :items="listaCortesGenerados.items"
            :search="search"
            class="elevation-1"
            dense disable-sort
          ></v-data-table>
        </v-col>
      </v-row>
    </v-form>
  </v-form>
</template>
<script>
export default {
  name: "GeneracionCortesPage",
  middleware: 'routes',
  data: () => ({
    listaCortesGenerados: {},
    archivoGeneracionCortes: null,
    loading: false,
    search: ''
  }),
  mounted() {
    this.obtenerCortesGenerados()
  },
  methods: {
    obtenerCortesGenerados() {
      this.listaCortesGenerados = {}

      return this.$axios
        .$post("comercial/corte-reconexion/listar", {
          opcion: "LISTAR_CORTES_GENERADOS"
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, "data", [])
          this.listaCortesGenerados = {
            headers: [
              { text: 'Cuenta', value: 'cuenta' },
              { text: 'Cliente', value: 'cliente' },
              { text: 'Clave Catastral', value: 'claveCatastral' },
              { text: 'Periodo', value: 'periodo' },
              { text: 'Ciclo', value: 'ciclo' },
              { text: 'Sector', value: 'sector' },
              { text: 'Medidor', value: 'medidor' },
              { text: '# Corte', value: 'numeroCorte' },
              // { text: 'Fecha Generado', value: 'fechaGenerado' },
            ],
            items: data
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar datos: ${error}`
          })
        })
    },

    importarExcelGeneracionCortes () {
      if ( _.isNil(this.archivoGeneracionCortes) ) {
        return
      }

      const formData = new FormData()
      formData.append('opcion', 'IMPORTAR_GENERACION_CORTES')
      formData.append('archivoItems', this.archivoGeneracionCortes)
      
      this.loading = true
      return this.$axios.$post("comercial/corte-reconexion/importar", formData)
        .then((resp) => {
          this.loading = false
          if (resp.existeError) {
            this.$swal({
              icon: "error",
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error al guardar cambios',
            })
            return
          }

          this.$swal({
            icon: "success",
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Información ingresada exitosamente',
          })
          this.archivoGeneracionCortes = null
          this.obtenerCortesGenerados()
        })
        .catch((error) => {
          this.loading = false
          
          this.$swal({
            icon: 'error',
            title: `Error al guardar cambios: ${error}`
          })
        })
    }
  },
}
</script>