<template>
  <v-form>
    <v-toolbar flat>
      <v-toolbar-title
        class="font-weight-medium"
      >
        Listado de Cortes y Reconexiones (Externo - Proveedor)
      </v-toolbar-title>
    </v-toolbar>

    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-select
            v-model="tipoConsultaCorteExterno"
            :items="listaTiposConsultaCorteExterno"
            item-text="descripcion"
            item-value="valor"
            label="Tipo de Listado"
          ></v-select>
        </v-col>
        <v-col cols="12" md="2">
          <v-btn 
            class="ma-3" 
            color="primary"
            @click="obtenerListadoCortes"
          >
            <v-icon dark>mdi-magnify</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-row justify="center">
      <v-col cols="12">
        <v-card-title>
          <template v-if="flagExisteCortes">
            <v-btn
              color="#1D6F42"
              @click="exportExcel"
              dark
              small
            >
              Exportar
              <v-icon right dark>mdi-file-excel</v-icon>
            </v-btn>
          </template>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
            clearable
            dense
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="listaCortes.headers"
          :items="listaCortes.items"
          :search="search"
          class="elevation-1"
          dense
        >
        </v-data-table>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import { saveAs } from 'file-saver'

export default {
  name: "ListadoCortesExternosPage",
  middleware: 'routes',
  data: () => ({
    listaTiposConsultaCorteExterno: [],
    tipoConsultaCorteExterno: null,
    listaCortes: {},
    search: '',
  }),
  mounted() {
    this.index().then(() => {
      this.obtenerListadoCortes()
    })
  },
  computed: {
    flagExisteCortes () {
      if (!_.isNil(this.listaCortes.items) && !_.isEmpty(this.listaCortes.items)) {
        return true
      }
      return false
    }
  },
  methods: {
    index() {
      return this.$axios.$get('comercial/corte-reconexion/index')
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }
          
          if ( !_.isNil(resp.data) ) {
            this.listaTiposConsultaCorteExterno = resp.data.listaTiposConsultaCorteExterno
            this.tipoConsultaCorteExterno = resp.data.tipoConsultaCorteExternoDefault
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error interno de consulta: ${error}`,
          })
        })
    },

    obtenerListadoCortes() {
      this.listaCortes = {}

      return this.$axios
        .$post('comercial/corte-reconexion/listar', {
          opcion: this.tipoConsultaCorteExterno,
        })
        .then((resp) => {
          if (resp.existeError) {
            this.$swal({
              icon: 'error',
              title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'Error de consulta',
            })
            return
          }

          const data = _.get(resp, 'data', [])
          this.listaCortes = {
            headers: this.$utils.generarCabeceraDtt(data),
            items: data
          }
        })
        .catch((error) => {
          this.$swal({
            icon: 'error',
            title: `Error al consultar datos: ${error}`
          })
        })
    },

    exportExcel() {
      return this.$axios.$post('comercial/corte-reconexion/exportar', {
        opcion: this.tipoConsultaCorteExterno,
      }, {
        responseType: 'blob'
      })
      .then((resp) => {
        // Si es objeto json, quiere decir que hubo un error al buscar imagen
        if(resp.type == 'application/json') {
          resp = Object.assign({}, { existeError: true })
        }

        if (resp.existeError) {
          this.$swal({
            icon: 'error',
            title: !_.isEmpty(resp.mensaje) ? resp.mensaje : 'No se encontraron datos',
          })
          return
        }
        
        const fechaActual = new Date().toISOString().substring(0, 10)
        saveAs(resp, `Cortes proveedor ${fechaActual}.xlsx`)
      })
      .catch((error) => {
        this.$swal({
          icon: 'error',
          title: `Error al consultar datos: ${error}`
        })
      })
    }
  },
}
</script>